//globals
* {
  margin: 0;
  padding: 0;
  font-family: proxinova-regular;
}

//* pn bold fonts
@font-face {
  font-family: pnBold;
  src: url(./fonts/bold.otf) format("opentype");
}
@font-face {
  font-family: gB;
  src: url("./fonts/gothamBold.woff");
}
@font-face {
  font-family: pnReg;
  src: url(./fonts/regular.ttf) format("truetype");
}

//* proxi nova fonts
@font-face {
  font-family: proxinova-regular;
  src: url(./fonts/ProximaNova-Regular.otf) format(opentype);
}

// cover page
.coverPage {
  .wrapper {
    // display: flex;
    background: #1f183e;
    height: 135vh;

    .mainbody {
      position: absolute;
      top: 8%;
      left: 18%;

      .event {
        font-size: 24px;
        color: rgba(255, 255, 255, 0.9);
        font-family: pnBold;
        padding-top: 30px;
        padding-bottom: 20px;
      }

      .welcomeText {
        color: white;
        h2 {
          font-family: pnReg;
          font-size: 28px;
          font-weight: bold;
        }
        p {
          padding-top: 10px;
          font-family: pnReg;
          font-size: 18px;
          color: rgba(255, 255, 255, 0.8);
        }
      }
      .cardEvents {
        display: flex;
        .card1 {
          padding-right: 30px;
        }
      }
    }

    img {
      max-width: 177px;
      height: 45px;
      position: relative;
      left: 3rem;
      top: 2rem;
    }

    .sidebar {
      background-color: #151029;
      height: 135vh;
      width: 15%;
      position: fixed;

      .navlist {
        ul {
          border: 1px solid green;
          padding: 8px;
          position: relative;
          top: 5rem;
          background-color: #24e3ae;
          a {
            text-decoration: none;
            li {
              color: #2d2c2c;
              font-size: 17px;
              font-weight: 600;
              font-family: pnReg;
              display: inline-block;
              .icon1 {
                padding-left: 1rem;
                padding-right: 1rem;
              }
            }
          }
        }
      }
    }

    .mainpage {
      height: 100vh;
      width: 100%;
      .nav {
        display: flex;
        width: 100%;
        height: 5%;
        background-color: #1d1739;
        border-bottom: 1px solid #524396;
        .title {
          a {
            padding-left: 20px;
            font-size: 26px;
            position: absolute;
            top: 0.3rem;
            display: none;
            font-family: pnBold;
            text-decoration: none;
            color: #24e3ae;
          }
        }
        .login {
          a {
            position: absolute;
            right: 2rem;
            top: 0.6rem;
            text-decoration: none;
            font-family: pnBold;
            font-size: 16px;
            line-height: 19px;
            color: #24e3ae;
          }
        }
      }
    }

    @media only screen and (max-width: 400px) {
      .openbtn {
        display: block;
      }
      .sidebar {
        img {
          // height: 50px;
          // width: 126px;
          // position: absolute;
          top: 0.2rem;
          left: 1rem;
        }
        width: 0%;
        .navlist {
          display: none;
        }
      }

      .mainpage {
        background-color: #1f183e;
        height: 350vh;

        .nav {
          height: 2.5%;
          .title {
            display: none;
          }
          .login {
            display: none;
          }
        }
      }

      .mainbody {
        left: 5%;
        width: 90%;
        .welcomeText {
          h2 {
            padding-top: 10px;
            font-size: 22px;
          }
          p {
            font-size: 16px;
          }
        }
        .event {
          font-size: 22px;
        }
        .cardEvents {
          display: block;
          width: 100%;
          .card1 {
            padding-bottom: 25px;
          }
        }
      }
      .cardHolder1,
      .cardHolder2,
      .cardHolder3 {
        .card {
          width: 343px;
        }
      }

      .footer {
        width: 100%;
        p {
          text-align: center;
        }
      }
    }
  }
  //? bracket of media query
}

//footer
.footer {
  p {
    color: white;
    font-size: 16px;
    font-family: pnReg;
    text-align: right;
    background-color: #1d1739;
    padding: 20px;
  }
  position: fixed;
  bottom: 0;
  right: 0;
  width: 85%;
  float: right;
}

//login page
.loginPage {
  height: 100vh;
  // padding-bottom: 350px;
  background-color: #130e25;
  .nav {
    background-color: #1d1739;
    display: flex;
    width: 100%;
    .logo {
      a {
        img {
          max-width: 177px;
          height: 45px;
          position: absolute;
          left: 1rem;
          top: 0rem;
        }
      }
    }

    .heading {
      h2 {
        font-family: pnbold;
        color: #24e3ae;
        font-size: 24px;
        padding-top: 15px;
        padding-bottom: 20px;
        display: none;
      }
      margin: 0 auto;
    }

    .signup {
      a {
        text-decoration: none;
        color: #24e3ae;
        font-family: pnReg;
        font-size: 16px;
        font-weight: bold;
        position: absolute;
        right: 2rem;
        top: 1rem;
      }
    }
  }

  .loginBody {
    background-color: #130e25;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 100px;

    img {
      height: 23.15px;
      width: 23.15px;
      position: absolute;
      top: 9.2rem;
      right: 43rem;
    }
    .loginContainer {
      width: 320px;
      height: 346px;
      background-color: #1d1739;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      .text {
        padding: 25px;
        h2 {
          font-family: pnReg;
          font-weight: bold;
          font-size: 20px;
          color: #24e3ae;
          float: left;
          margin-bottom: 30px;
        }

        input {
          background: #151029;
          border: 0.5px solid rgba(255, 255, 255, 0.2);
          box-sizing: border-box;
          border-radius: 3.66667px;
          width: 271.33px;
          height: 36.61px;
          margin-bottom: 12px;
          color: white;
          padding-left: 10px;
          font-family: pnBold;
          &::placeholder {
            font-family: pnBold;
            font-size: 14px;
            line-height: 17px;
            padding-left: 10px;
            color: rgba(255, 255, 255, 0.7);
          }
        }

        p {
          color: white;
          font-family: pnBold;
          float: right;
          font-size: 14.6667px;
        }

        button {
          text-decoration: none;
          background-color: #24e3ae;
          width: 271px;
          height: 37px;
          border: none;
          border-radius: 4px;
          font-family: pnBold;
          color: #130e25;
          font-size: 15px;
          margin-top: 15px;
          &:hover {
            background-color: #1f183e;
            color: #24e3ae;
            border: 2.5px solid #24e3ae;
          }
        }

        h3 {
          font-family: pnBold;
          font-size: 14.6667px;
          color: white;
          margin-top: 40px;
          text-align: center;
          span {
            a {
              font-family: pnBold;
              font-size: 14.6667px;
              color: #24e3ae;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  .footer {
    width: 100%;
  }

  @media only screen and (max-width: 400px) {
    .loginPage {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      .nav {
        .heading {
          h2 {
            display: none;
          }
        }
      }
    }
    .loginBody {
      img {
        position: absolute;
        top: 9.2rem;
        left: 20.5rem;
        height: 30px;
      }
    }

    .footer {
      p {
        text-align: center;
      }
    }
  }
}

//signup page
.signupPage {
  height: 100%;
  padding-bottom: 100px;
  background-color: #130e25;
  .nav {
    background-color: #1d1739;
    display: flex;
    width: 100%;
    .logo {
      a {
        img {
          max-width: 177px;
          height: 45px;
          position: absolute;
          left: 1rem;
          top: 0rem;
        }
      }
    }

    .heading {
      h2 {
        font-family: pnbold;
        color: #24e3ae;
        font-size: 24px;
        padding-top: 15px;
        padding-bottom: 20px;
      }
      margin: 0 auto;
    }

    .signup {
      a {
        text-decoration: none;
        color: #24e3ae;
        font-family: pnReg;
        font-size: 16px;
        font-weight: bold;
        position: absolute;
        right: 2rem;
        top: 1rem;
      }
    }
  }

  .signupBody {
    background-color: #130e25;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 60px;

    .vector {
      height: 23.15px;
      width: 23.15px;
      position: absolute;
      top: 6.7rem;
      right: 40rem;
    }
    .signupContainer {
      width: 396px;
      height: 727px;
      background-color: #1d1739;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      .text {
        padding: 25px;

        span {
          color: white;
          font-family: pnBold;
          font-size: 13px;
        }
        h2 {
          font-family: pnReg;
          font-weight: bold;
          font-size: 20px;
          color: #24e3ae;
          float: left;
          width: 100%;
          margin-bottom: 30px;
        }

        h4 {
          font-family: pnBold;
          font-size: 14.6667px;
          color: white;
          margin-top: 40px;
          text-align: left;
        }

        .avatarImg {
          padding-left: 20px;
          padding-bottom: 20px;
          img {
            width: 60px;
            height: 60px;
            padding-right: 20px;
            padding-top: 20px;
          }
        }
        input {
          background: #151029;
          border: 0.5px solid rgba(255, 255, 255, 0.2);
          box-sizing: border-box;
          border-radius: 3.66667px;
          width: 346px;
          height: 36.61px;
          margin-top: 12px;
          color: white;
          padding-left: 10px;
          font-family: pnBold;
          &::placeholder {
            font-family: pnBold;
            font-size: 14px;
            line-height: 17px;
            padding-left: 10px;
            color: rgba(255, 255, 255, 0.7);
          }
        }

        button {
          text-decoration: none;
          background-color: #24e3ae;
          width: 346px;
          height: 37px;
          border: none;
          border-radius: 4px;
          font-family: pnBold;
          color: #130e25;
          font-size: 15px;
          margin-top: 15px;
          &:hover {
            background-color: #1f183e;
            color: #24e3ae;
            border: 2.5px solid #24e3ae;
          }
        }

        h3 {
          font-family: pnBold;
          font-size: 14.6667px;
          color: white;
          margin-top: 40px;
          text-align: center;
          span {
            a {
              text-decoration: none;
              font-family: pnBold;
              font-size: 14.6667px;
              color: #24e3ae;
            }
          }
        }
      }
    }
  }
  .footer {
    width: 100%;
  }

  @media only screen and (max-width: 400px) {
    .signupBody {
      .signupContainer {
        width: 320px;
        .text {
          input {
            width: 271px;
          }
          button {
            width: 271px;
          }

          .avatarImg {
            padding-left: 20px;
            img {
              width: 50px;
              height: 50px;
              padding-right: 10px;
            }
          }
        }
      }
    }

    .footer {
      p {
        text-align: center;
      }
    }
  }
}
//card component
//? card 1

.cardHolder1 {
  .card {
    width: 230px;
    height: 230px;
    background: #2b2352;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border-top: 7px solid #ed1d68;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .items {
      h2 {
        font-size: 20px;
        color: white;
        font-family: pnReg;
        font-style: normal;
        line-height: 24px;
        padding-bottom: 10px;
        letter-spacing: 1.3px;
      }

      h3 {
        font-size: 14px;
        font-family: pnReg;
        color: white;
        font-weight: 600;
        padding-bottom: 25px;
      }
      p {
        font-family: pnReg;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        color: #9186be;
        padding-bottom: 25px;
      }
      button {
        text-decoration: none;
        border: none;
        width: 120px;
        height: 40px;
        background: #24e3ae;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        font-size: 15px;
        font-family: pnReg;
        color: #103d30;
        font-weight: bold;
        &:hover {
          background-color: #1f183e;
          border: 1.5px solid #ed1d68;
          color: #24e3ae;
        }
      }
    }
  }
}

//? card 2

.cardHolder2 {
  .card {
    width: 230px;
    height: 230px;
    background: #2b2352;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border-top: 7px solid #24e3ae;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .items {
      h2 {
        font-size: 20px;
        color: white;
        font-family: pnReg;
        font-style: normal;
        line-height: 24px;
        padding-bottom: 10px;
        letter-spacing: 1.3px;
      }

      h3 {
        font-size: 14px;
        font-family: pnReg;
        color: white;
        font-weight: 600;
        padding-bottom: 25px;
      }
      p {
        font-family: pnReg;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        color: #9186be;
        padding-bottom: 25px;
      }
      span {
        background: #1f183e;
        padding: 10px;
        padding-right: 20px;
        padding-left: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        color: #24e3ae;
        font-family: pnBold;
        font-weight: bold;
        font-size: 15px;
      }
    }
  }
}

//? card 3

.cardHolder3 {
  .card {
    width: 230px;
    height: 230px;
    background: #2b2352;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border-top: 7px solid #c0c0c0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .items {
      h2 {
        font-size: 20px;
        color: white;
        font-family: pnReg;
        font-style: normal;
        line-height: 24px;
        padding-bottom: 10px;
        letter-spacing: 1.3px;
      }

      h3 {
        font-size: 14px;
        font-family: pnReg;
        color: white;
        font-weight: 600;
        padding-bottom: 25px;
      }
      p {
        font-family: pnReg;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        color: #9186be;
        padding-bottom: 25px;
      }
      span {
        background: #1f183e;
        padding: 10px;
        padding-right: 20px;
        padding-left: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        color: #24e3ae;
        font-family: pnBold;
        font-weight: bold;
        font-size: 15px;
      }
    }
  }
}

//home page
.homePage {
  .wrapper {
    background-color: #1f183e;
    height: 135vh;

    .home-sidebar {
      background-color: #151029;
      height: 150vh;
      width: 15%;
      position: fixed;

      img {
        height: 50px;
        position: absolute;
        top: 1rem;
        left: 2.5rem;
      }

      .navlist {
        .selected {
          margin-top: 50px;
          background-color: #24e3ae;
          li {
            color: #2d2c2c;
          }
        }
        ul {
          padding: 8px;
          margin-bottom: 10px;
          position: relative;
          top: 5rem;
          background-color: #151029;
          border: none;
          a {
            text-decoration: none;
            li {
              color: white;
              font-size: 17px;
              font-family: pnBold;
              display: inline-block;
              .icon1 {
                padding-left: 1rem;
                padding-right: 1rem;
              }
            }
          }

          &:hover {
            background-color: #24e3ae;
            li {
              color: #2d2c2c;
            }
          }
        }
      }
    }

    .mainpage {
      .nav {
        background-color: #1d1739;
        // background-color: red;
        width: 100%;
        height: 3rem;
        .login {
          a {
            color: #24e3ae;
            position: absolute;
            text-decoration: none;
            font-family: pnBold;
            font-size: 20px;
            top: 0.7rem;
            right: 1.5rem;
          }
        }
      }
    }

    .mainbody {
      position: absolute;
      top: 8%;
      left: 18%;

      .event {
        font-size: 24px;
        color: rgba(255, 255, 255, 0.9);
        font-family: pnBold;
        padding-top: 30px;
        padding-bottom: 20px;
      }

      .welcomeText {
        color: white;
        h2 {
          font-family: pnReg;
          font-size: 28px;
          font-weight: bold;
        }
        p {
          padding-top: 10px;
          font-family: pnReg;
          font-size: 18px;
          color: rgba(255, 255, 255, 0.8);
        }
      }
      .cardEvents {
        display: flex;
        .card1 {
          padding-right: 30px;
        }
      }
    }
  }
  //* add here home css

  @media only screen and (max-width: 400px) {
    .openbtn {
      display: block;
    }

    .wrapper {
      .home-sidebar {
        img {
          display: none;
        }
        width: 0%;
        .navlist {
          display: none;
        }
      }

      .mainpage {
        background-color: #1f183e;
        height: 350vh;
        .title {
          a {
            font-family: pnBold;
            text-decoration: none;
            color: #24e3ae;
            font-size: 30px;
            position: absolute;
            top: 1rem;
            left: 1.5rem;
          }
        }
        .login {
          display: none;
        }
      }

      .mainbody {
        left: 5%;
        width: 90%;
        .welcomeText {
          h2 {
            padding-top: 10px;
            font-size: 22px;
          }
          p {
            font-size: 16px;
          }
        }

        .event {
          font-size: 22px;
        }
        .cardEvents {
          display: block;
          width: 100%;
          .card1 {
            padding-bottom: 25px;
          }
        }
      }

      .cardHolder1,
      .cardHolder2,
      .cardHolder3 {
        .card {
          width: 343px;
        }
      }
    }
    .footer {
      width: 100%;
      p {
        text-align: center;
      }
    }
  }
}

// ? Dashboard page
.dashboardWrapper {
  .wrapper {
    background: #1f183e;
    height: 100%;

    img {
      max-width: 177px;
      height: 45px;
      position: relative;
      left: 3rem;
      top: 2rem;
    }

    .sidebar {
      background-color: #151029;
      height: 100vh;
      width: 15%;
      .navlist {
        .selected {
          background-color: #24e3ae;
          li {
            color: #2d2c2c;
          }
        }
        ul {
          padding: 8px;
          margin-bottom: 10px;
          position: relative;
          top: 5rem;
          background-color: #151029;
          border: none;

          a {
            text-decoration: none;

            li {
              color: white;
              font-size: 17px;
              font-family: pnBold;
              display: inline-block;

              .icon1 {
                padding-left: 1rem;
                padding-right: 1rem;
              }
            }
          }

          &:hover {
            background-color: #24e3ae;
            li {
              color: #2d2c2c;
            }
          }
        }
      }
    }

    .mainpage {
      // height: 100vh;
      width: 100%;
      .nav {
        display: flex;
        width: 100%;
        height: 5%;
        background-color: #1d1739;
        border-bottom: 1px solid #524396;
        .title {
          a {
            padding-left: 20px;
            font-size: 26px;
            position: absolute;
            top: 0.3rem;
            left: 22rem;
            font-family: pnBold;
            text-decoration: none;
            color: #24e3ae;
            display: none;
          }
        }
        .login {
          a {
            position: absolute;
            right: 2rem;
            top: 0.6rem;
            text-decoration: none;
            font-family: pnBold;
            font-size: 16px;
            line-height: 19px;
            color: #24e3ae;
          }
        }
      }
    }

    .mainbody {
      position: absolute;
      top: 8%;
      left: 18%;
      .heading {
        h2 {
          font-family: pnBold;
          color: #24e3ae;
          font-size: 24px;
        }
      }
      .questionBox {
        position: absolute;
        top: 3rem;
        width: 723px;
        height: 189px;
        background: #2b2352;
        box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        .content {
          padding: 20px;
          h4 {
            font-size: 18px;
            color: white;
            font-family: pnReg;
          }
          input {
            background: #151029;
            border: 0.5px solid rgba(255, 255, 255, 0.2);
            box-sizing: border-box;
            border-radius: 3.66667px;
            width: 549px;
            height: 40px;
            color: white;
            font-family: pnBold;
            padding-left: 10px;
            margin-top: 20px;
            &::placeholder {
              color: rgba(255, 255, 255, 0.4);
              font-family: 14px;
              font-family: pnReg;
              padding-left: 20px;
            }
          }

          button {
            border: none;
            width: 109px;
            height: 40px;
            color: #103d30;
            font-family: pnBold;
            font-size: 15px;
            margin-left: 15px;
            background: #24e3ae;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 3px;
          }
          p {
            color: rgba(255, 255, 255, 0.4);
            font-size: 14px;
            font-family: pnReg;
            margin-top: 10px;
          }
        }
      }
    }

    @media only screen and (max-width: 400px) {
      .openbtn {
        display: block;
      }
      .sidebar {
        img {
          position: absolute;
          top: 0.2rem;
          left: 1rem;
        }
        width: 0%;
        .navlist {
          display: none;
        }
      }

      .mainpage {
        .login {
          display: none;
        }
      }

      .mainbody {
        left: 5%;
        .heading {
          h2 {
            margin-top: 10px;
          }
        }
        .questionBox {
          width: 343px;
          height: 235px;
          .content {
            input {
              width: 300px;
            }
            button {
              margin-top: 10px;
              margin-left: 0;
            }
          }
        }
      }

      .footer {
        width: 100%;
        p {
          text-align: center;
        }
      }

      //? bracket of media query
    }
  }
}

//* leaderboard Page
.Leaderboard {
  .wrapper {
    background: #1f183e;
    height: 100%;

    img {
      max-width: 177px;
      height: 45px;
      position: relative;
      left: 3rem;
      top: 2rem;
    }

    .sidebar {
      background-color: #151029;
      height: 100vh;
      width: 15%;
      .navlist {
        .selected {
          background-color: #24e3ae;
          li {
            color: #2d2c2c;
          }
        }
        ul {
          padding: 8px;
          margin-bottom: 10px;
          position: relative;
          top: 5rem;
          background-color: #151029;
          border: none;

          a {
            text-decoration: none;

            li {
              color: white;
              font-size: 17px;
              font-family: pnBold;
              display: inline-block;

              .icon1 {
                padding-left: 1rem;
                padding-right: 1rem;
              }
            }
          }

          &:hover {
            background-color: #24e3ae;
            li {
              color: #2d2c2c;
            }
          }
        }
      }
    }

    .mainpage {
      // height: 100vh;
      width: 100%;
      .nav {
        display: flex;
        width: 100%;
        height: 5%;
        background-color: #1d1739;
        border-bottom: 1px solid #524396;
        .title {
          a {
            padding-left: 20px;
            font-size: 26px;
            position: absolute;
            top: 0.3rem;
            font-family: pnBold;
            text-decoration: none;
            color: #24e3ae;
            display: none;
          }
        }
        .login {
          a {
            position: absolute;
            right: 2rem;
            top: 0.6rem;
            text-decoration: none;
            font-family: pnBold;
            font-size: 16px;
            line-height: 19px;
            color: #24e3ae;
          }
        }
      }
    }

    .mainbody {
      position: absolute;
      top: 8%;
      left: 18%;
      .heading {
        h2 {
          font-family: pnBold;
          position: absolute;
          top: 0rem;
          color: #24e3ae;
          font-size: 24px;
        }
      }

      .leaderTable {
        // border: 2px solid green;
        background: #2b2352;
        box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
        border-radius: 7px;
        width: 40vw;
        position: absolute;
        top: 3rem;

        .row1,
        .row2,
        .row3,
        .row4,
        .row5,
        .row6 {
          display: flex;
          width: 100%;
          padding-bottom: 10px;
          background-color: #2b2352;

          h2 {
            font-family: pnReg;
            font-size: 18px;
            color: white;
            padding: 15px;
          }

          .rank {
            width: 20px;
            margin-right: 30px;
            // border: 2px solid red;
          }
          .name {
            width: 200px;
            margin-right: 30px;
            // border: 2px solid purple;
          }
          .score {
            width: 100px;
            margin-right: 30px;
            // border: 2px solid black;
          }
        }

        .row1 {
          background-color: #1f183e;
          h2 {
            font-size: 20px;
          }
        }

        .row2,
        .row3,
        .row4,
        .row5 {
          border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
        }
      }
    }

    @media only screen and (max-width: 400px) {
      .openbtn {
        display: block;
      }

      .sidebar {
        img {
          position: absolute;
          top: 0.2rem;
          left: 1rem;
        }
        width: 0%;
        .navlist {
          display: none;
        }
      }

      .mainpage {
        .login {
          display: none;
        }
      }

      .mainbody {
        .heading {
          h2 {
            margin-top: 10px;
          }
        }
        left: 5%;
        .leaderTable {
          width: 91vw;
        }
      }

      .footer {
        width: 100%;
        p {
          text-align: center;
        }
      }
      //? bracket of media query
    }
  }
}

//** about event
.aboutEvent {
  .wrapper {
    background: #1f183e;
    // background: red;
    height: 100vh;

    img {
      max-width: 177px;
      height: 45px;
      position: relative;
      left: 3rem;
      top: 2rem;
    }

    .sidebar {
      background-color: #151029;
      height: 100vh;
      width: 15%;
      .navlist {
        .selected {
          background-color: #24e3ae;
          li {
            color: #2d2c2c;
          }
        }
        ul {
          padding: 8px;
          margin-bottom: 10px;
          position: relative;
          top: 5rem;
          background-color: #151029;
          border: none;

          a {
            text-decoration: none;

            li {
              color: white;
              font-size: 17px;
              font-family: pnBold;
              display: inline-block;

              .icon1 {
                padding-left: 1rem;
                padding-right: 1rem;
              }
            }
          }

          &:hover {
            background-color: #24e3ae;
            li {
              color: #2d2c2c;
            }
          }
        }
      }
    }

    .mainpage {
      // height: 100vh;
      width: 100%;
      .nav {
        display: flex;
        // width: 100%;
        // height: 5%;
        // background-color: #1d1739;
        // border-bottom: 1px solid #524396;
        .title {
          a {
            padding-left: 20px;
            font-size: 26px;
            position: absolute;
            top: 0.3rem;
            font-family: pnBold;
            text-decoration: none;
            color: #24e3ae;
            display: none;
          }
        }
        .login {
          a {
            position: absolute;
            right: 2rem;
            top: 0.6rem;
            text-decoration: none;
            font-family: pnBold;
            font-size: 16px;
            line-height: 19px;
            color: #24e3ae;
            // display: none;
          }
        }
      }
    }

    .mainbody {
      position: absolute;
      top: 8%;
      left: 18%;
      .box1 {
        width: 70%;
        background: #2b2352;
        box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-bottom: 20px;
        h2 {
          color: #24e3ae;
          font-family: pnBold;
          font-size: 22px;
          padding: 20px;
        }
        p {
          font-family: pnBold;
          font-size: 16px;
          color: white;
          padding: 20px;
          padding-top: 0px;
        }
      }

      .box2 {
        width: 70%;
        background: #2b2352;
        box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-bottom: 20px;

        .box2title {
          color: #24e3ae;
          font-family: pnBold;
          font-size: 22px;
          padding: 20px;
        }
        .startEnd {
          display: flex;
          .start,
          .end {
            h2 {
              font-size: 16px;
              font-family: pnBold;
              color: rgba(255, 255, 255, 0.8);
              padding: 20px;
              padding-top: 0px;
              span {
                font-family: pnBold;
                font-size: 20px;
                padding-top: 10px;
                color: white;
              }
            }
          }
        }
      }

      .box3 {
        width: 70%;
        background: #2b2352;
        box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
        border-radius: 5px;

        h2 {
          color: #24e3ae;
          font-family: pnBold;
          font-size: 22px;
          padding: 20px;
        }

        ol {
          position: relative;
          left: 2rem;
          width: 95%;

          li {
            color: white;
            padding: 20px;
            padding-top: 0px;
            font-family: pnbold;
            font-size: 18px;
          }
        }

        button {
          text-decoration: none;
          outline: none;
          border: none;
          width: 100px;
          background-color: #24e3ae;
          font-size: 18px;
          font-family: pnBold;
          padding: 10px;
          margin: 10px;
          position: relative;
          left: 1rem;
          border-radius: 7px;
          &:hover {
            border: 2px solid #24e3ae;
            background-color: transparent;
            color: #24e3ae;
          }
        }
      }
    }

    @media only screen and (max-width: 400px) {
      .openbtn {
        display: block;
      }

      .sidebar {
        img {
          position: absolute;
          top: 0.2rem;
          left: 1rem;
        }
        width: 0%;
        height: 145vh;
        .navlist {
          display: none;
        }
      }

      .mainbody {
        left: 0%;
        height: 145vh;
        background-color: #1f183e;
        .box1,
        .box2,
        .box3 {
          width: 90%;
          margin-left: 20px;
        }
      }

      .mainpage {
        .login {
          display: none;
        }
      }

      .footer {
        width: 100%;
        p {
          text-align: center;
        }
      }

      //? bracket of media query
    }
  }
}

// * edit ur profiles
.editprofile {
  .wrapper {
    background: #1f183e;
    height: 100%;

    img {
      max-width: 177px;
      height: 45px;
      position: relative;
      left: 3rem;
      top: 2rem;
    }

    .sidebar {
      background-color: #151029;
      height: 100vh;
      width: 15%;
      .navlist {
        .selected {
          background-color: #24e3ae;
          li {
            color: #2d2c2c;
          }
        }
        ul {
          padding: 8px;
          margin-bottom: 10px;
          position: relative;
          top: 5rem;
          background-color: #151029;
          border: none;

          a {
            text-decoration: none;

            li {
              color: white;
              font-size: 17px;
              font-family: pnBold;
              display: inline-block;

              .icon1 {
                padding-left: 1rem;
                padding-right: 1rem;
              }
            }
          }

          &:hover {
            background-color: #24e3ae;
            li {
              color: #2d2c2c;
            }
          }
        }
      }
    }

    .mainpage {
      width: 100%;
      .nav {
        .title {
          a {
            padding-left: 20px;
            font-size: 26px;
            position: absolute;
            top: 0.3rem;
            font-family: pnBold;
            text-decoration: none;
            color: #24e3ae;
            display: none;
          }
        }
        .login {
          a {
            position: absolute;
            right: 2rem;
            top: 0.6rem;
            text-decoration: none;
            font-family: pnBold;
            font-size: 16px;
            line-height: 19px;
            color: #24e3ae;
          }
        }
      }
    }

    .mainbody {
      position: absolute;
      top: 8%;
      left: 18%;

      .edit {
        .card {
          display: flex;
          .smallcard {
            .topbox {
              background: url(./images/background.jpg);
              border-radius: 4px 4px 0px 0px;
              width: 343px;
              height: 120px;
              margin-left: 20px;
            }

            .circleimg {
              width: 90px;
              height: 90px;
              background-color: red;
              border-radius: 50%;
              position: absolute;
              top: 5rem;
              left: 9.2rem;
              background: url(./images/Ellipse3.png);
            }

            .bottombox {
              width: 343px;
              height: 200px;
              margin-left: 20px;
              background: #2b2352;
              box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
              border-radius: 4px;

              h2,
              h3 {
                font-size: 20px;
                font-family: pnBold;
                color: white;
                text-align: center;
                position: relative;
                top: 4em;
              }
            }
          }

          .maincard {
            width: 666px;
            height: 320px;
            margin-left: 20px;
            background: #2b2352;
            box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
            border-radius: 4px;

            button {
              font-family: pnBold;
              font-size: 15px;
              width: 157px;
              height: 40px;
              text-decoration: none;
              border: none;
              background: #24e3ae;
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              border-radius: 3px;
              position: absolute;
              right: 2rem;
              bottom: 1.5rem;
              cursor: pointer;
            }

            h2 {
              font-family: pnBold;
              font-size: 20px;
              color: #24e3ae;
              padding: 20px;
              padding-bottom: 0px;
            }

            .sets {
              display: flex;
              .set1 {
                .change {
                  padding: 20px;
                  p {
                    font-family: pnBold;
                    font-size: 15px;
                    color: #ffffff;
                  }
                  input {
                    width: 296px;
                    height: 37px;
                    padding-left: 10px;
                    background: #151029;
                    border: 0.5px solid rgba(255, 255, 255, 0.2);
                    box-sizing: border-box;
                    border-radius: 3.66667px;
                    font-family: pnBold;
                    color: white;
                    &::placeholder {
                      padding-left: 10px;
                      color: rgba(255, 255, 255, 0.4);
                      font-family: pnBold;
                    }
                  }
                }
              }
              .set2 {
                .change {
                  padding: 20px;
                  p {
                    font-family: pnBold;
                    font-size: 15px;
                    color: #ffffff;
                  }
                  input {
                    width: 296px;
                    height: 37px;
                    font-family: pnBold;
                    color: white;
                    background: #151029;
                    border: 0.5px solid rgba(255, 255, 255, 0.2);
                    box-sizing: border-box;
                    border-radius: 3.66667px;
                    padding-left: 10px;
                    &::placeholder {
                      padding-left: 10px;
                      color: rgba(255, 255, 255, 0.4);
                      font-family: pnBold;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    @media only screen and (max-width: 400px) {
      .openbtn {
        display: block;
      }
      .sidebar {
        img {
          position: absolute;
          top: 0.2rem;
          left: 1rem;
        }
        width: 0%;
        .navlist {
          display: none;
        }
      }

      .mainpage {
        height: 40vh;
        .login {
          display: none;
        }
      }
      .mainbody {
        left: 4%;
        .edit {
          .card {
            display: block;
            .smallcard {
              padding-bottom: 20px;
            }
            .maincard {
              width: 340px;
              height: 500px;
              .sets {
                display: block;
              }
            }
          }
        }
      }

      .footer {
        width: 100%;
        p {
          text-align: center;
        }
      }
      //? bracket of media query
    }
  }
}

// ! Overall

.collapse-sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #151029;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.collapse-sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  font-family: pnBold;
  display: block;
  transition: 0.3s;
}

.collapse-sidebar {
  .selected {
    background-color: #24e3ae;
  }
}

.collapse-sidebar button {
  margin-top: 20px;
  // margin-left: 30px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: pnBold;
  font-size: 18px;
  background-color: #24e3ae;
  border-radius: 4px;
  border: none;
}

.collapse-sidebar a:hover {
  color: #f1f1f1;
}

.collapse-sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #1f183e;
  color: #24e3ae;
  padding: 10px 15px;
  border: none;
  position: absolute;
  right: 1.5rem;
  top: 0.5rem;
  display: none;
}

.openbtn:hover {
  background-color: #444;
}

#collapse-main {
  transition: margin-left 0.5s;
  // padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .collapse-sidebar {
    padding-top: 15px;
  }
  .collapse-sidebar a {
    font-size: 18px;
  }
}

#loader {
  border: 5px solid #130e25;
  border-radius: 50%;
  border-top: 5px solid #24e3ae;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: relative;
  top: 2rem;
  left: 8rem;
  display: none;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
