//globals
* {
  margin: 0;
  padding: 0;
  font-family: proxinova-regular;
}

//* pn bold fonts
@font-face {
  font-family: pnBold;
  src: url(./fonts/bold.otf) format("opentype");
}
@font-face {
  font-family: gB;
  src: url("./fonts/gothamBold.woff");
}
@font-face {
  font-family: pnReg;
  src: url(./fonts/regular.ttf) format("truetype");
}

//* proxi nova fonts
@font-face {
  font-family: proxinova-regular;
  src: url(./fonts/ProximaNova-Regular.otf) format(opentype);
}

// cover page
.wrapper {
  display: flex;
  background: #1f183e;
  height: 143vh;

  .mainbody {
    position: absolute;
    top: 8%;
    left: 18%;

    .event {
      font-size: 24px;
      color: rgba(255, 255, 255, 0.9);
      font-family: pnBold;
      padding-top: 30px;
      padding-bottom: 20px;
    }

    .welcomeText {
      color: white;
      h2 {
        font-family: pnReg;
        font-size: 28px;
        font-weight: bold;
      }
      p {
        padding-top: 10px;
        font-family: pnReg;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.8);
      }
    }
    .cardEvents {
      display: flex;
      .card1 {
        padding-right: 30px;
      }
    }
  }

  img {
    max-width: 177px;
    height: 55px;
    position: relative;
    left: 3rem;
    top: 2rem;
  }

  .sidebar {
    background-color: #151029;
    height: 150vh;
    width: 20%;
    .navlist {
      ul {
        border: 1px solid green;
        padding: 8px;
        position: relative;
        top: 5rem;
        background-color: #24e3ae;
        a {
          text-decoration: none;
          li {
            color: #2d2c2c;
            font-size: 17px;
            font-weight: 600;
            font-family: pnReg;
            display: inline-block;
            .icon1 {
              padding-left: 1rem;
              padding-right: 1rem;
            }
          }
        }
      }
    }
  }

  .mainpage {
    height: 100vh;
    width: 100%;
    .nav {
      display: flex;
      width: 100%;
      height: 5%;
      background-color: #1d1739;
      border-bottom: 1px solid #524396;
      .title {
        a {
          padding-left: 20px;
          font-size: 26px;
          position: absolute;
          top: 0.3rem;
          font-family: pnBold;
          text-decoration: none;
          color: #24e3ae;
        }
      }
      .login {
        a {
          position: absolute;
          right: 2rem;
          top: 0.6rem;
          text-decoration: none;
          font-family: pnBold;
          font-size: 16px;
          line-height: 19px;
          color: #24e3ae;
        }
      }
    }
  }

  @media only screen and (max-width: 400px) {
    .sidebar {
      img {
        height: 50px;
        width: 126px;
        position: absolute;
        top: 0.2rem;
        left: 1rem;
      }
      width: 0%;
      .navlist {
        display: none;
      }
    }

    .mainpage {
      background-color: #1f183e;
      height: 310vh;

      .nav {
        height: 2.5%;
        .title {
          display: none;
        }
        .login {
          display: none;
        }
      }
    }

    .mainbody {
      left: 5%;
      width: 90%;
      .welcomeText {
        h2 {
          padding-top: 10px;
          font-size: 22px;
        }
        p {
          font-size: 16px;
        }
      }
      .event {
        font-size: 22px;
      }
      .cardEvents {
        display: block;
        width: 100%;
        .card1 {
          padding-bottom: 25px;
        }
      }
    }
    .cardHolder1,
    .cardHolder2,
    .cardHolder3 {
      .card {
        width: 343px;
      }
    }

    .footer {
      width: 100%;
      p {
        text-align: center;
      }
    }

    //? bracket of media query
  }
}

//footer
.footer {
  p {
    color: white;
    font-size: 16px;
    font-family: pnReg;
    text-align: right;
    background-color: #1d1739;
    padding: 20px;
  }
  position: fixed;
  bottom: 0;
  right: 0;
  width: 83.35%;
  float: right;
}

//login page
.loginPage {
  .nav {
    background-color: #1d1739;
    display: flex;
    width: 100%;
    .logo {
      a {
        img {
          max-width: 177px;
          height: 55px;
          position: absolute;
          left: 1rem;
          top: 0rem;
        }
      }
    }

    .heading {
      h2 {
        font-family: pnbold;
        color: #24e3ae;
        font-size: 24px;
        padding-top: 15px;
        padding-bottom: 20px;
      }
      margin: 0 auto;
    }

    .signup {
      a {
        text-decoration: none;
        color: #24e3ae;
        font-family: pnReg;
        font-size: 16px;
        font-weight: bold;
        position: absolute;
        right: 2rem;
        top: 1rem;
      }
    }
  }

  .loginBody {
    background-color: #130e25;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 100px;

    img {
      height: 23.15px;
      width: 23.15px;
      position: absolute;
      top: 9.2rem;
      right: 37rem;
    }
    .loginContainer {
      width: 320px;
      height: 346px;
      background-color: #1d1739;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      .text {
        padding: 25px;
        h2 {
          font-family: pnReg;
          font-weight: bold;
          font-size: 20px;
          color: #24e3ae;
          float: left;
          margin-bottom: 30px;
        }

        input {
          background: #151029;
          border: 0.5px solid rgba(255, 255, 255, 0.2);
          box-sizing: border-box;
          border-radius: 3.66667px;
          width: 271.33px;
          height: 36.61px;
          margin-bottom: 12px;
          color: white;
          padding-left: 10px;
          font-family: pnBold;
          &::placeholder {
            font-family: pnBold;
            font-size: 14px;
            line-height: 17px;
            padding-left: 10px;
            color: rgba(255, 255, 255, 0.7);
          }
        }

        p {
          color: white;
          font-family: pnBold;
          float: right;
          font-size: 14.6667px;
        }

        button {
          text-decoration: none;
          background-color: #24e3ae;
          width: 271px;
          height: 37px;
          border: none;
          border-radius: 4px;
          font-family: pnBold;
          color: #130e25;
          font-size: 15px;
          margin-top: 15px;
          &:hover {
            background-color: #1f183e;
            color: #24e3ae;
            border: 2.5px solid #24e3ae;
          }
        }

        h3 {
          font-family: pnBold;
          font-size: 14.6667px;
          color: white;
          margin-top: 40px;
          text-align: center;
          span {
            a {
              font-family: pnBold;
              font-size: 14.6667px;
              color: #24e3ae;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  .footer {
    width: 100%;
  }

  @media only screen and (max-width: 375px) {
    .loginBody {
      img {
        position: absolute;
        top: 9.2rem;
        left: 20.5rem;
      }
    }
  }
}
//home page
.wrapper {
  .mainpage {
    .logoutButton {
      .group {
        input {
          border-radius: 25px;
          background-color: blue;
          color: white;
          width: 25%;
          font-size: 25px;
          font-family: pnBold;
        }
      }
    }
  }
}

//signup page
.signupPage {
  .nav {
    background-color: #1d1739;
    display: flex;
    width: 100%;
    .logo {
      a {
        img {
          max-width: 177px;
          height: 55px;
          position: absolute;
          left: 1rem;
          top: 0rem;
        }
      }
    }

    .heading {
      h2 {
        font-family: pnbold;
        color: #24e3ae;
        font-size: 24px;
        padding-top: 15px;
        padding-bottom: 20px;
      }
      margin: 0 auto;
    }

    .signup {
      a {
        text-decoration: none;
        color: #24e3ae;
        font-family: pnReg;
        font-size: 16px;
        font-weight: bold;
        position: absolute;
        right: 2rem;
        top: 1rem;
      }
    }
  }

  .signupBody {
    background-color: #130e25;
    height: 120vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 60px;

    .vector {
      height: 23.15px;
      width: 23.15px;
      position: absolute;
      top: 6.7rem;
      right: 34.5rem;
    }
    .signupContainer {
      width: 396px;
      height: 727px;
      background-color: #1d1739;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      .text {
        padding: 25px;
        h2 {
          font-family: pnReg;
          font-weight: bold;
          font-size: 20px;
          color: #24e3ae;
          float: left;
          width: 100%;
          margin-bottom: 30px;
        }

        h4 {
          font-family: pnBold;
          font-size: 14.6667px;
          color: white;
          margin-top: 40px;
          text-align: left;
        }

        .avatarImg {
          padding-left: 20px;
          padding-bottom: 20px;
          img {
            width: 60px;
            height: 60px;
            padding-right: 20px;
            padding-top: 20px;
          }
        }
        input {
          background: #151029;
          border: 0.5px solid rgba(255, 255, 255, 0.2);
          box-sizing: border-box;
          border-radius: 3.66667px;
          width: 346px;
          height: 36.61px;
          margin-bottom: 12px;
          color: white;
          padding-left: 10px;
          font-family: pnBold;
          &::placeholder {
            font-family: pnBold;
            font-size: 14px;
            line-height: 17px;
            padding-left: 10px;
            color: rgba(255, 255, 255, 0.7);
          }
        }

        button {
          text-decoration: none;
          background-color: #24e3ae;
          width: 346px;
          height: 37px;
          border: none;
          border-radius: 4px;
          font-family: pnBold;
          color: #130e25;
          font-size: 15px;
          margin-top: 15px;
          &:hover {
            background-color: #1f183e;
            color: #24e3ae;
            border: 2.5px solid #24e3ae;
          }
        }

        h3 {
          font-family: pnBold;
          font-size: 14.6667px;
          color: white;
          margin-top: 40px;
          text-align: center;
          span {
            a {
              text-decoration: none;
              font-family: pnBold;
              font-size: 14.6667px;
              color: #24e3ae;
            }
          }
        }
      }
    }
  }
  .footer {
    width: 100%;
  }

  @media only screen and (max-width: 400px) {
    .signupBody {
      .signupContainer {
        width: 320px;
        .text {
          input {
            width: 271px;
          }
          button {
            width: 271px;
          }

          .avatarImg {
            padding-left: 20px;
            img {
              width: 50px;
              height: 50px;
              padding-right: 10px;
            }
          }
        }
      }
    }
  }
}
//card component
//? card 1

.cardHolder1 {
  .card {
    width: 230px;
    height: 230px;
    background: #2b2352;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border-top: 7px solid #ed1d68;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .items {
      h2 {
        font-size: 20px;
        color: white;
        font-family: pnReg;
        font-style: normal;
        line-height: 24px;
        padding-bottom: 10px;
        letter-spacing: 1.3px;
      }

      h3 {
        font-size: 14px;
        font-family: pnReg;
        color: white;
        font-weight: 600;
        padding-bottom: 25px;
      }
      p {
        font-family: pnReg;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        color: #9186be;
        padding-bottom: 25px;
      }
      button {
        text-decoration: none;
        border: none;
        width: 120px;
        height: 40px;
        background: #24e3ae;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        font-size: 15px;
        font-family: pnReg;
        color: #103d30;
        font-weight: bold;
        &:hover {
          background-color: #1f183e;
          border: 1.5px solid #ed1d68;
          color: #24e3ae;
        }
      }
    }
  }
}

//? card 2

.cardHolder2 {
  .card {
    width: 230px;
    height: 230px;
    background: #2b2352;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border-top: 7px solid #24e3ae;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .items {
      h2 {
        font-size: 20px;
        color: white;
        font-family: pnReg;
        font-style: normal;
        line-height: 24px;
        padding-bottom: 10px;
        letter-spacing: 1.3px;
      }

      h3 {
        font-size: 14px;
        font-family: pnReg;
        color: white;
        font-weight: 600;
        padding-bottom: 25px;
      }
      p {
        font-family: pnReg;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        color: #9186be;
        padding-bottom: 25px;
      }
      span {
        background: #1f183e;
        padding: 10px;
        padding-right: 20px;
        padding-left: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        color: #24e3ae;
        font-family: pnBold;
        font-weight: bold;
        font-size: 15px;
      }
    }
  }
}

//? card 3

.cardHolder3 {
  .card {
    width: 230px;
    height: 230px;
    background: #2b2352;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border-top: 7px solid #c0c0c0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .items {
      h2 {
        font-size: 20px;
        color: white;
        font-family: pnReg;
        font-style: normal;
        line-height: 24px;
        padding-bottom: 10px;
        letter-spacing: 1.3px;
      }

      h3 {
        font-size: 14px;
        font-family: pnReg;
        color: white;
        font-weight: 600;
        padding-bottom: 25px;
      }
      p {
        font-family: pnReg;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        color: #9186be;
        padding-bottom: 25px;
      }
      span {
        background: #1f183e;
        padding: 10px;
        padding-right: 20px;
        padding-left: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        color: #24e3ae;
        font-family: pnBold;
        font-weight: bold;
        font-size: 15px;
      }
    }
  }
}

// ? Dashboard page
.dashboardWrapper {
  .wrapper {
    display: flex;
    background: #1f183e;
    height: 143vh;

    img {
      max-width: 177px;
      height: 55px;
      position: relative;
      left: 3rem;
      top: 2rem;
    }

    .sidebar {
      background-color: #151029;
      height: 150vh;
      width: 20%;
      .navlist {
        ul {
          padding: 8px;
          margin-bottom: 10px;
          position: relative;
          top: 5rem;
          background-color: #151029;
          border: none;
          a {
            text-decoration: none;
            li {
              color: white;
              font-size: 17px;
              font-family: pnReg;
              display: inline-block;
              .icon1 {
                padding-left: 1rem;
                padding-right: 1rem;
              }
            }
          }

          &:hover {
            background-color: #24e3ae;
            li {
              color: #2d2c2c;
            }
          }
        }
      }
    }

    .mainpage {
      height: 100vh;
      width: 100%;
      .nav {
        display: flex;
        width: 100%;
        height: 5%;
        background-color: #1d1739;
        border-bottom: 1px solid #524396;
        .title {
          a {
            padding-left: 20px;
            font-size: 26px;
            position: absolute;
            top: 0.3rem;
            font-family: pnBold;
            text-decoration: none;
            color: #24e3ae;
          }
        }
        .login {
          a {
            position: absolute;
            right: 2rem;
            top: 0.6rem;
            text-decoration: none;
            font-family: pnBold;
            font-size: 16px;
            line-height: 19px;
            color: #24e3ae;
          }
        }
      }
    }

    @media only screen and (max-width: 400px) {
      .sidebar {
        img {
          height: 50px;
          width: 126px;
          position: absolute;
          top: 0.2rem;
          left: 1rem;
        }
        width: 0%;
        .navlist {
          display: none;
        }
      }

      .mainpage {
        background-color: #1f183e;
        height: 310vh;

        .nav {
          height: 2.5%;
          .title {
            display: none;
          }
          .login {
            display: none;
          }
        }
      }

      .footer {
        width: 100%;
        p {
          text-align: center;
        }
      }

      //? bracket of media query
    }
  }
}
