* {
  margin: 0;
  padding: 0;
  font-family: proxinova-regular;
}

@font-face {
  font-family: pnBold;
  src: url(./fonts/bold.otf) format("opentype");
}

@font-face {
  font-family: gB;
  src: url("./fonts/gothamBold.woff");
}

@font-face {
  font-family: pnReg;
  src: url(./fonts/regular.ttf) format("truetype");
}

@font-face {
  font-family: proxinova-regular;
  src: url(./fonts/ProximaNova-Regular.otf) format(opentype);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #1f183e;
  height: 143vh;
}

.wrapper .mainbody {
  position: absolute;
  top: 8%;
  left: 18%;
}

.wrapper .mainbody .event {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.9);
  font-family: pnBold;
  padding-top: 30px;
  padding-bottom: 20px;
}

.wrapper .mainbody .welcomeText {
  color: white;
}

.wrapper .mainbody .welcomeText h2 {
  font-family: pnReg;
  font-size: 28px;
  font-weight: bold;
}

.wrapper .mainbody .welcomeText p {
  padding-top: 10px;
  font-family: pnReg;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}

.wrapper .mainbody .cardEvents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .mainbody .cardEvents .card1 {
  padding-right: 30px;
}

.wrapper img {
  max-width: 177px;
  height: 55px;
  position: relative;
  left: 3rem;
  top: 2rem;
}

.wrapper .sidebar {
  background-color: #151029;
  height: 150vh;
  width: 20%;
}

.wrapper .sidebar .navlist ul {
  border: 1px solid green;
  padding: 8px;
  position: relative;
  top: 5rem;
  background-color: #24e3ae;
}

.wrapper .sidebar .navlist ul a {
  text-decoration: none;
}

.wrapper .sidebar .navlist ul a li {
  color: #2d2c2c;
  font-size: 17px;
  font-weight: 600;
  font-family: pnReg;
  display: inline-block;
}

.wrapper .sidebar .navlist ul a li .icon1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.wrapper .mainpage {
  height: 100vh;
  width: 100%;
}

.wrapper .mainpage .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 5%;
  background-color: #1d1739;
  border-bottom: 1px solid #524396;
}

.wrapper .mainpage .nav .title a {
  padding-left: 20px;
  font-size: 26px;
  position: absolute;
  top: 0.3rem;
  font-family: pnBold;
  text-decoration: none;
  color: #24e3ae;
}

.wrapper .mainpage .nav .login a {
  position: absolute;
  right: 2rem;
  top: 0.6rem;
  text-decoration: none;
  font-family: pnBold;
  font-size: 16px;
  line-height: 19px;
  color: #24e3ae;
}

@media only screen and (max-width: 400px) {
  .wrapper .sidebar {
    width: 0%;
  }
  .wrapper .sidebar img {
    height: 50px;
    width: 126px;
    position: absolute;
    top: 0.2rem;
    left: 1rem;
  }
  .wrapper .sidebar .navlist {
    display: none;
  }
  .wrapper .mainpage {
    background-color: #1f183e;
    height: 310vh;
  }
  .wrapper .mainpage .nav {
    height: 2.5%;
  }
  .wrapper .mainpage .nav .title {
    display: none;
  }
  .wrapper .mainpage .nav .login {
    display: none;
  }
  .wrapper .mainbody {
    left: 5%;
    width: 90%;
  }
  .wrapper .mainbody .welcomeText h2 {
    padding-top: 10px;
    font-size: 22px;
  }
  .wrapper .mainbody .welcomeText p {
    font-size: 16px;
  }
  .wrapper .mainbody .event {
    font-size: 22px;
  }
  .wrapper .mainbody .cardEvents {
    display: block;
    width: 100%;
  }
  .wrapper .mainbody .cardEvents .card1 {
    padding-bottom: 25px;
  }
  .wrapper .cardHolder1 .card,
  .wrapper .cardHolder2 .card,
  .wrapper .cardHolder3 .card {
    width: 343px;
  }
  .wrapper .footer {
    width: 100%;
  }
  .wrapper .footer p {
    text-align: center;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 83.35%;
  float: right;
}

.footer p {
  color: white;
  font-size: 16px;
  font-family: pnReg;
  text-align: right;
  background-color: #1d1739;
  padding: 20px;
}

.loginPage .nav {
  background-color: #1d1739;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.loginPage .nav .logo a img {
  max-width: 177px;
  height: 55px;
  position: absolute;
  left: 1rem;
  top: 0rem;
}

.loginPage .nav .heading {
  margin: 0 auto;
}

.loginPage .nav .heading h2 {
  font-family: pnbold;
  color: #24e3ae;
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.loginPage .nav .signup a {
  text-decoration: none;
  color: #24e3ae;
  font-family: pnReg;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  right: 2rem;
  top: 1rem;
}

.loginPage .loginBody {
  background-color: #130e25;
  height: 90vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 100px;
}

.loginPage .loginBody img {
  height: 23.15px;
  width: 23.15px;
  position: absolute;
  top: 9.2rem;
  right: 37rem;
}

.loginPage .loginBody .loginContainer {
  width: 320px;
  height: 346px;
  background-color: #1d1739;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.loginPage .loginBody .loginContainer .text {
  padding: 25px;
}

.loginPage .loginBody .loginContainer .text h2 {
  font-family: pnReg;
  font-weight: bold;
  font-size: 20px;
  color: #24e3ae;
  float: left;
  margin-bottom: 30px;
}

.loginPage .loginBody .loginContainer .text input {
  background: #151029;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3.66667px;
  width: 271.33px;
  height: 36.61px;
  margin-bottom: 12px;
  color: white;
  padding-left: 10px;
  font-family: pnBold;
}

.loginPage .loginBody .loginContainer .text input::-webkit-input-placeholder {
  font-family: pnBold;
  font-size: 14px;
  line-height: 17px;
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.loginPage .loginBody .loginContainer .text input:-ms-input-placeholder {
  font-family: pnBold;
  font-size: 14px;
  line-height: 17px;
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.loginPage .loginBody .loginContainer .text input::-ms-input-placeholder {
  font-family: pnBold;
  font-size: 14px;
  line-height: 17px;
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.loginPage .loginBody .loginContainer .text input::placeholder {
  font-family: pnBold;
  font-size: 14px;
  line-height: 17px;
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.loginPage .loginBody .loginContainer .text p {
  color: white;
  font-family: pnBold;
  float: right;
  font-size: 14.6667px;
}

.loginPage .loginBody .loginContainer .text button {
  text-decoration: none;
  background-color: #24e3ae;
  width: 271px;
  height: 37px;
  border: none;
  border-radius: 4px;
  font-family: pnBold;
  color: #130e25;
  font-size: 15px;
  margin-top: 15px;
}

.loginPage .loginBody .loginContainer .text button:hover {
  background-color: #1f183e;
  color: #24e3ae;
  border: 2.5px solid #24e3ae;
}

.loginPage .loginBody .loginContainer .text h3 {
  font-family: pnBold;
  font-size: 14.6667px;
  color: white;
  margin-top: 40px;
  text-align: center;
}

.loginPage .loginBody .loginContainer .text h3 span a {
  font-family: pnBold;
  font-size: 14.6667px;
  color: #24e3ae;
  text-decoration: none;
}

.loginPage .footer {
  width: 100%;
}

@media only screen and (max-width: 375px) {
  .loginPage .loginBody img {
    position: absolute;
    top: 9.2rem;
    left: 20.5rem;
  }
}

.wrapper .mainpage .logoutButton .group input {
  border-radius: 25px;
  background-color: blue;
  color: white;
  width: 25%;
  font-size: 25px;
  font-family: pnBold;
}

.signupPage .nav {
  background-color: #1d1739;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.signupPage .nav .logo a img {
  max-width: 177px;
  height: 55px;
  position: absolute;
  left: 1rem;
  top: 0rem;
}

.signupPage .nav .heading {
  margin: 0 auto;
}

.signupPage .nav .heading h2 {
  font-family: pnbold;
  color: #24e3ae;
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.signupPage .nav .signup a {
  text-decoration: none;
  color: #24e3ae;
  font-family: pnReg;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  right: 2rem;
  top: 1rem;
}

.signupPage .signupBody {
  background-color: #130e25;
  height: 120vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 60px;
}

.signupPage .signupBody .vector {
  height: 23.15px;
  width: 23.15px;
  position: absolute;
  top: 6.7rem;
  right: 30.4rem;
}

.signupPage .signupBody .signupContainer {
  width: 396px;
  height: 727px;
  background-color: #1d1739;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.signupPage .signupBody .signupContainer .text {
  padding: 25px;
}

.signupPage .signupBody .signupContainer .text h2 {
  font-family: pnReg;
  font-weight: bold;
  font-size: 20px;
  color: #24e3ae;
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

.signupPage .signupBody .signupContainer .text h4 {
  font-family: pnBold;
  font-size: 14.6667px;
  color: white;
  margin-top: 40px;
  text-align: left;
}

.signupPage .signupBody .signupContainer .text .avatarImg {
  padding-left: 20px;
  padding-bottom: 20px;
}

.signupPage .signupBody .signupContainer .text .avatarImg img {
  width: 60px;
  height: 60px;
  padding-right: 20px;
  padding-top: 20px;
}

.signupPage .signupBody .signupContainer .text input {
  background: #151029;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3.66667px;
  width: 346px;
  height: 36.61px;
  margin-bottom: 12px;
  color: white;
  padding-left: 10px;
  font-family: pnBold;
}

.signupPage .signupBody .signupContainer .text input::-webkit-input-placeholder {
  font-family: pnBold;
  font-size: 14px;
  line-height: 17px;
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.signupPage .signupBody .signupContainer .text input:-ms-input-placeholder {
  font-family: pnBold;
  font-size: 14px;
  line-height: 17px;
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.signupPage .signupBody .signupContainer .text input::-ms-input-placeholder {
  font-family: pnBold;
  font-size: 14px;
  line-height: 17px;
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.signupPage .signupBody .signupContainer .text input::placeholder {
  font-family: pnBold;
  font-size: 14px;
  line-height: 17px;
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.signupPage .signupBody .signupContainer .text button {
  text-decoration: none;
  background-color: #24e3ae;
  width: 346px;
  height: 37px;
  border: none;
  border-radius: 4px;
  font-family: pnBold;
  color: #130e25;
  font-size: 15px;
  margin-top: 15px;
}

.signupPage .signupBody .signupContainer .text button:hover {
  background-color: #1f183e;
  color: #24e3ae;
  border: 2.5px solid #24e3ae;
}

.signupPage .signupBody .signupContainer .text h3 {
  font-family: pnBold;
  font-size: 14.6667px;
  color: white;
  margin-top: 40px;
  text-align: center;
}

.signupPage .signupBody .signupContainer .text h3 span a {
  text-decoration: none;
  font-family: pnBold;
  font-size: 14.6667px;
  color: #24e3ae;
}

.signupPage .footer {
  width: 100%;
}

@media only screen and (max-width: 400px) {
  .signupPage .signupBody .signupContainer {
    width: 320px;
  }
  .signupPage .signupBody .signupContainer .text input {
    width: 271px;
  }
  .signupPage .signupBody .signupContainer .text button {
    width: 271px;
  }
  .signupPage .signupBody .signupContainer .text .avatarImg {
    padding-left: 20px;
  }
  .signupPage .signupBody .signupContainer .text .avatarImg img {
    width: 50px;
    height: 50px;
    padding-right: 10px;
  }
}

.cardHolder1 .card {
  width: 230px;
  height: 230px;
  background: #2b2352;
  -webkit-box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border-top: 7px solid #ed1d68;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardHolder1 .card .items h2 {
  font-size: 20px;
  color: white;
  font-family: pnReg;
  font-style: normal;
  line-height: 24px;
  padding-bottom: 10px;
  letter-spacing: 1.3px;
}

.cardHolder1 .card .items h3 {
  font-size: 14px;
  font-family: pnReg;
  color: white;
  font-weight: 600;
  padding-bottom: 25px;
}

.cardHolder1 .card .items p {
  font-family: pnReg;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #9186be;
  padding-bottom: 25px;
}

.cardHolder1 .card .items button {
  text-decoration: none;
  border: none;
  width: 120px;
  height: 40px;
  background: #24e3ae;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  font-size: 15px;
  font-family: pnReg;
  color: #103d30;
  font-weight: bold;
}

.cardHolder1 .card .items button:hover {
  background-color: #1f183e;
  border: 1.5px solid #ed1d68;
  color: #24e3ae;
}

.cardHolder2 .card {
  width: 230px;
  height: 230px;
  background: #2b2352;
  -webkit-box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border-top: 7px solid #24e3ae;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardHolder2 .card .items h2 {
  font-size: 20px;
  color: white;
  font-family: pnReg;
  font-style: normal;
  line-height: 24px;
  padding-bottom: 10px;
  letter-spacing: 1.3px;
}

.cardHolder2 .card .items h3 {
  font-size: 14px;
  font-family: pnReg;
  color: white;
  font-weight: 600;
  padding-bottom: 25px;
}

.cardHolder2 .card .items p {
  font-family: pnReg;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #9186be;
  padding-bottom: 25px;
}

.cardHolder2 .card .items span {
  background: #1f183e;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  color: #24e3ae;
  font-family: pnBold;
  font-weight: bold;
  font-size: 15px;
}

.cardHolder3 .card {
  width: 230px;
  height: 230px;
  background: #2b2352;
  -webkit-box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border-top: 7px solid #c0c0c0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardHolder3 .card .items h2 {
  font-size: 20px;
  color: white;
  font-family: pnReg;
  font-style: normal;
  line-height: 24px;
  padding-bottom: 10px;
  letter-spacing: 1.3px;
}

.cardHolder3 .card .items h3 {
  font-size: 14px;
  font-family: pnReg;
  color: white;
  font-weight: 600;
  padding-bottom: 25px;
}

.cardHolder3 .card .items p {
  font-family: pnReg;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #9186be;
  padding-bottom: 25px;
}

.cardHolder3 .card .items span {
  background: #1f183e;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  color: #24e3ae;
  font-family: pnBold;
  font-weight: bold;
  font-size: 15px;
}

.dashboardWrapper .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #1f183e;
  height: 143vh;
}

.dashboardWrapper .wrapper img {
  max-width: 177px;
  height: 55px;
  position: relative;
  left: 3rem;
  top: 2rem;
}

.dashboardWrapper .wrapper .sidebar {
  background-color: #151029;
  height: 150vh;
  width: 20%;
}

.dashboardWrapper .wrapper .sidebar .navlist ul {
  padding: 8px;
  margin-bottom: 10px;
  position: relative;
  top: 5rem;
  background-color: #151029;
  border: none;
}

.dashboardWrapper .wrapper .sidebar .navlist ul a {
  text-decoration: none;
}

.dashboardWrapper .wrapper .sidebar .navlist ul a li {
  color: white;
  font-size: 17px;
  font-family: pnReg;
  display: inline-block;
}

.dashboardWrapper .wrapper .sidebar .navlist ul a li .icon1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.dashboardWrapper .wrapper .sidebar .navlist ul:hover {
  background-color: #24e3ae;
}

.dashboardWrapper .wrapper .sidebar .navlist ul:hover li {
  color: #2d2c2c;
}

.dashboardWrapper .wrapper .mainpage {
  height: 100vh;
  width: 100%;
}

.dashboardWrapper .wrapper .mainpage .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 5%;
  background-color: #1d1739;
  border-bottom: 1px solid #524396;
}

.dashboardWrapper .wrapper .mainpage .nav .title a {
  padding-left: 20px;
  font-size: 26px;
  position: absolute;
  top: 0.3rem;
  font-family: pnBold;
  text-decoration: none;
  color: #24e3ae;
}

.dashboardWrapper .wrapper .mainpage .nav .login a {
  position: absolute;
  right: 2rem;
  top: 0.6rem;
  text-decoration: none;
  font-family: pnBold;
  font-size: 16px;
  line-height: 19px;
  color: #24e3ae;
}

@media only screen and (max-width: 400px) {
  .dashboardWrapper .wrapper .sidebar {
    width: 0%;
  }
  .dashboardWrapper .wrapper .sidebar img {
    height: 50px;
    width: 126px;
    position: absolute;
    top: 0.2rem;
    left: 1rem;
  }
  .dashboardWrapper .wrapper .sidebar .navlist {
    display: none;
  }
  .dashboardWrapper .wrapper .mainpage {
    background-color: #1f183e;
    height: 310vh;
  }
  .dashboardWrapper .wrapper .mainpage .nav {
    height: 2.5%;
  }
  .dashboardWrapper .wrapper .mainpage .nav .title {
    display: none;
  }
  .dashboardWrapper .wrapper .mainpage .nav .login {
    display: none;
  }
  .dashboardWrapper .wrapper .footer {
    width: 100%;
  }
  .dashboardWrapper .wrapper .footer p {
    text-align: center;
  }
}
/*# sourceMappingURL=App.css.map */


.error {
  color: white;
}