* {
  margin: 0;
  padding: 0;
  font-family: proxinova-regular;
}

@font-face {
  font-family: pnBold;
  src: url(./fonts/bold.otf) format("opentype");
}

@font-face {
  font-family: gB;
  src: url("./fonts/gothamBold.woff");
}

@font-face {
  font-family: pnReg;
  src: url(./fonts/regular.ttf) format("truetype");
}

@font-face {
  font-family: proxinova-regular;
  src: url(./fonts/ProximaNova-Regular.otf) format(opentype);
}

.coverPage .wrapper {
  background: #1f183e;
  height: 135vh;
}

.coverPage .wrapper .mainbody {
  position: absolute;
  top: 8%;
  left: 18%;
}

.coverPage .wrapper .mainbody .event {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.9);
  font-family: pnBold;
  padding-top: 30px;
  padding-bottom: 20px;
}

.coverPage .wrapper .mainbody .welcomeText {
  color: white;
}

.coverPage .wrapper .mainbody .welcomeText h2 {
  font-family: pnReg;
  font-size: 28px;
  font-weight: bold;
}

.coverPage .wrapper .mainbody .welcomeText p {
  padding-top: 10px;
  font-family: pnReg;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}

.coverPage .wrapper .mainbody .cardEvents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.coverPage .wrapper .mainbody .cardEvents .card1 {
  padding-right: 30px;
}

.coverPage .wrapper img {
  max-width: 177px;
  height: 45px;
  position: relative;
  left: 3rem;
  top: 2rem;
}

.coverPage .wrapper .sidebar {
  background-color: #151029;
  height: 135vh;
  width: 15%;
  position: fixed;
}

.coverPage .wrapper .sidebar .navlist ul {
  border: 1px solid green;
  padding: 8px;
  position: relative;
  top: 5rem;
  background-color: #24e3ae;
}

.coverPage .wrapper .sidebar .navlist ul a {
  text-decoration: none;
}

.coverPage .wrapper .sidebar .navlist ul a li {
  color: #2d2c2c;
  font-size: 17px;
  font-weight: 600;
  font-family: pnReg;
  display: inline-block;
}

.coverPage .wrapper .sidebar .navlist ul a li .icon1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.coverPage .wrapper .mainpage {
  height: 100vh;
  width: 100%;
}

.coverPage .wrapper .mainpage .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 5%;
  background-color: #1d1739;
  border-bottom: 1px solid #524396;
}

.coverPage .wrapper .mainpage .nav .title a {
  padding-left: 20px;
  font-size: 26px;
  position: absolute;
  top: 0.3rem;
  display: none;
  font-family: pnBold;
  text-decoration: none;
  color: #24e3ae;
}

.coverPage .wrapper .mainpage .nav .login a {
  position: absolute;
  right: 2rem;
  top: 0.6rem;
  text-decoration: none;
  font-family: pnBold;
  font-size: 16px;
  line-height: 19px;
  color: #24e3ae;
}

@media only screen and (max-width: 400px) {
  .coverPage .wrapper .openbtn {
    display: block;
  }
  .coverPage .wrapper .sidebar {
    width: 0%;
  }
  .coverPage .wrapper .sidebar img {
    top: 0.2rem;
    left: 1rem;
  }
  .coverPage .wrapper .sidebar .navlist {
    display: none;
  }
  .coverPage .wrapper .mainpage {
    background-color: #1f183e;
    height: 350vh;
  }
  .coverPage .wrapper .mainpage .nav {
    height: 2.5%;
  }
  .coverPage .wrapper .mainpage .nav .title {
    display: none;
  }
  .coverPage .wrapper .mainpage .nav .login {
    display: none;
  }
  .coverPage .wrapper .mainbody {
    left: 5%;
    width: 90%;
  }
  .coverPage .wrapper .mainbody .welcomeText h2 {
    padding-top: 10px;
    font-size: 22px;
  }
  .coverPage .wrapper .mainbody .welcomeText p {
    font-size: 16px;
  }
  .coverPage .wrapper .mainbody .event {
    font-size: 22px;
  }
  .coverPage .wrapper .mainbody .cardEvents {
    display: block;
    width: 100%;
  }
  .coverPage .wrapper .mainbody .cardEvents .card1 {
    padding-bottom: 25px;
  }
  .coverPage .wrapper .cardHolder1 .card,
  .coverPage .wrapper .cardHolder2 .card,
  .coverPage .wrapper .cardHolder3 .card {
    width: 343px;
  }
  .coverPage .wrapper .footer {
    width: 100%;
  }
  .coverPage .wrapper .footer p {
    text-align: center;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 85%;
  float: right;
}

.footer p {
  color: white;
  font-size: 16px;
  font-family: pnReg;
  text-align: right;
  background-color: #1d1739;
  padding: 20px;
}

.loginPage {
  height: 100vh;
  background-color: #130e25;
}

.loginPage .nav {
  background-color: #1d1739;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.loginPage .nav .logo a img {
  max-width: 177px;
  height: 45px;
  position: absolute;
  left: 1rem;
  top: 0rem;
}

.loginPage .nav .heading {
  margin: 0 auto;
}

.loginPage .nav .heading h2 {
  font-family: pnbold;
  color: #24e3ae;
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 20px;
  visibility: hidden;
}

.loginPage .nav .signup a {
  text-decoration: none;
  color: #24e3ae;
  font-family: pnReg;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  right: 2rem;
  top: 1rem;
}

.loginPage .loginBody {
  background-color: #130e25;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 100px;
}

.loginPage .loginBody img {
  height: 23.15px;
  width: 23.15px;
  position: absolute;
  top: 9.2rem;
  right: 43rem;
}

.loginPage .loginBody .loginContainer {
  width: 320px;
  height: 346px;
  background-color: #1d1739;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.loginPage .loginBody .loginContainer .text {
  padding: 25px;
}

.loginPage .loginBody .loginContainer .text h2 {
  font-family: pnReg;
  font-weight: bold;
  font-size: 20px;
  color: #24e3ae;
  float: left;
  margin-bottom: 30px;
}

.loginPage .loginBody .loginContainer .text input {
  background: #151029;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3.66667px;
  width: 271.33px;
  height: 36.61px;
  margin-bottom: 12px;
  color: white;
  padding-left: 10px;
  font-family: pnBold;
}

.loginPage .loginBody .loginContainer .text input::-webkit-input-placeholder {
  font-family: pnBold;
  font-size: 14px;
  line-height: 17px;
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.loginPage .loginBody .loginContainer .text input:-ms-input-placeholder {
  font-family: pnBold;
  font-size: 14px;
  line-height: 17px;
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.loginPage .loginBody .loginContainer .text input::-ms-input-placeholder {
  font-family: pnBold;
  font-size: 14px;
  line-height: 17px;
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.loginPage .loginBody .loginContainer .text input::placeholder {
  font-family: pnBold;
  font-size: 14px;
  line-height: 17px;
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.loginPage .loginBody .loginContainer .text p {
  color: white;
  font-family: pnBold;
  float: right;
  font-size: 14.6667px;
}

.loginPage .loginBody .loginContainer .text button {
  text-decoration: none;
  background-color: #24e3ae;
  width: 271px;
  height: 37px;
  border: none;
  border-radius: 4px;
  font-family: pnBold;
  color: #130e25;
  font-size: 15px;
  margin-top: 15px;
}

.loginPage .loginBody .loginContainer .text button:hover {
  background-color: #1f183e;
  color: #24e3ae;
  border: 2.5px solid #24e3ae;
}

.loginPage .loginBody .loginContainer .text h3 {
  font-family: pnBold;
  font-size: 14.6667px;
  color: white;
  margin-top: 40px;
  text-align: center;
}

.loginPage .loginBody .loginContainer .text h3 span a {
  font-family: pnBold;
  font-size: 14.6667px;
  color: #24e3ae;
  text-decoration: none;
}

.loginPage .footer {
  width: 100%;
}

@media only screen and (max-width: 400px) {
  .loginPage .loginPage {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .loginPage .loginPage .nav .heading h2 {
    color: red;
    display: none;
  }
  .loginPage .loginBody img {
    position: absolute;
    top: 9.2rem;
    left: 20.5rem;
    height: 30px;
  }
  .loginPage .footer p {
    text-align: center;
  }
}

.signupPage {
  height: 100%;
  padding-bottom: 100px;
  background-color: #130e25;
}

.signupPage .nav {
  background-color: #1d1739;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.signupPage .nav .logo a img {
  max-width: 177px;
  height: 45px;
  position: absolute;
  left: 1rem;
  top: 0rem;
}

.signupPage .nav .heading {
  margin: 0 auto;
}

.signupPage .nav .heading h2 {
  font-family: pnbold;
  color: #24e3ae;
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.signupPage .nav .signup a {
  text-decoration: none;
  color: #24e3ae;
  font-family: pnReg;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  right: 2rem;
  top: 1rem;
}

.signupPage .signupBody {
  background-color: #130e25;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 60px;
}

.signupPage .signupBody .vector {
  height: 23.15px;
  width: 23.15px;
  position: absolute;
  top: 6.7rem;
  right: 40rem;
}

.signupPage .signupBody .signupContainer {
  width: 396px;
  height: 727px;
  background-color: #1d1739;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.signupPage .signupBody .signupContainer .text {
  padding: 25px;
}

.signupPage .signupBody .signupContainer .text span {
  color: white;
  font-family: pnBold;
  font-size: 13px;
}

.signupPage .signupBody .signupContainer .text h2 {
  font-family: pnReg;
  font-weight: bold;
  font-size: 20px;
  color: #24e3ae;
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

.signupPage .signupBody .signupContainer .text h4 {
  font-family: pnBold;
  font-size: 14.6667px;
  color: white;
  margin-top: 40px;
  text-align: left;
}

.signupPage .signupBody .signupContainer .text .avatarImg {
  padding-left: 20px;
  padding-bottom: 20px;
}

.signupPage .signupBody .signupContainer .text .avatarImg img {
  width: 60px;
  height: 60px;
  padding-right: 20px;
  padding-top: 20px;
}

.signupPage .signupBody .signupContainer .text input {
  background: #151029;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3.66667px;
  width: 346px;
  height: 36.61px;
  margin-top: 12px;
  color: white;
  padding-left: 10px;
  font-family: pnBold;
}

.signupPage .signupBody .signupContainer .text input::-webkit-input-placeholder {
  font-family: pnBold;
  font-size: 14px;
  line-height: 17px;
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.signupPage .signupBody .signupContainer .text input:-ms-input-placeholder {
  font-family: pnBold;
  font-size: 14px;
  line-height: 17px;
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.signupPage .signupBody .signupContainer .text input::-ms-input-placeholder {
  font-family: pnBold;
  font-size: 14px;
  line-height: 17px;
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.signupPage .signupBody .signupContainer .text input::placeholder {
  font-family: pnBold;
  font-size: 14px;
  line-height: 17px;
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.signupPage .signupBody .signupContainer .text button {
  text-decoration: none;
  background-color: #24e3ae;
  width: 346px;
  height: 37px;
  border: none;
  border-radius: 4px;
  font-family: pnBold;
  color: #130e25;
  font-size: 15px;
  margin-top: 15px;
}

.signupPage .signupBody .signupContainer .text button:hover {
  background-color: #1f183e;
  color: #24e3ae;
  border: 2.5px solid #24e3ae;
}

.signupPage .signupBody .signupContainer .text h3 {
  font-family: pnBold;
  font-size: 14.6667px;
  color: white;
  margin-top: 40px;
  text-align: center;
}

.signupPage .signupBody .signupContainer .text h3 span a {
  text-decoration: none;
  font-family: pnBold;
  font-size: 14.6667px;
  color: #24e3ae;
}

.signupPage .footer {
  width: 100%;
}

@media only screen and (max-width: 400px) {
  .signupPage .signupBody .signupContainer {
    width: 320px;
  }
  .signupPage .signupBody .signupContainer .text input {
    width: 271px;
  }
  .signupPage .signupBody .signupContainer .text button {
    width: 271px;
  }
  .signupPage .signupBody .signupContainer .text .avatarImg {
    padding-left: 20px;
  }
  .signupPage .signupBody .signupContainer .text .avatarImg img {
    width: 50px;
    height: 50px;
    padding-right: 10px;
  }
  .signupPage .footer p {
    text-align: center;
  }
}

.cardHolder1 .card {
  width: 230px;
  height: 230px;
  background: #2b2352;
  -webkit-box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border-top: 7px solid #ed1d68;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardHolder1 .card .items h2 {
  font-size: 20px;
  color: white;
  font-family: pnReg;
  font-style: normal;
  line-height: 24px;
  padding-bottom: 10px;
  letter-spacing: 1.3px;
}

.cardHolder1 .card .items h3 {
  font-size: 14px;
  font-family: pnReg;
  color: white;
  font-weight: 600;
  padding-bottom: 25px;
}

.cardHolder1 .card .items p {
  font-family: pnReg;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #9186be;
  padding-bottom: 25px;
}

.cardHolder1 .card .items button {
  text-decoration: none;
  border: none;
  width: 120px;
  height: 40px;
  background: #24e3ae;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  font-size: 15px;
  font-family: pnReg;
  color: #103d30;
  font-weight: bold;
}

.cardHolder1 .card .items button:hover {
  background-color: #1f183e;
  border: 1.5px solid #ed1d68;
  color: #24e3ae;
}

.cardHolder2 .card {
  width: 230px;
  height: 230px;
  background: #2b2352;
  -webkit-box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border-top: 7px solid #24e3ae;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardHolder2 .card .items h2 {
  font-size: 20px;
  color: white;
  font-family: pnReg;
  font-style: normal;
  line-height: 24px;
  padding-bottom: 10px;
  letter-spacing: 1.3px;
}

.cardHolder2 .card .items h3 {
  font-size: 14px;
  font-family: pnReg;
  color: white;
  font-weight: 600;
  padding-bottom: 25px;
}

.cardHolder2 .card .items p {
  font-family: pnReg;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #9186be;
  padding-bottom: 25px;
}

.cardHolder2 .card .items span {
  background: #1f183e;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  color: #24e3ae;
  font-family: pnBold;
  font-weight: bold;
  font-size: 15px;
}

.cardHolder3 .card {
  width: 230px;
  height: 230px;
  background: #2b2352;
  -webkit-box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border-top: 7px solid #c0c0c0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardHolder3 .card .items h2 {
  font-size: 20px;
  color: white;
  font-family: pnReg;
  font-style: normal;
  line-height: 24px;
  padding-bottom: 10px;
  letter-spacing: 1.3px;
}

.cardHolder3 .card .items h3 {
  font-size: 14px;
  font-family: pnReg;
  color: white;
  font-weight: 600;
  padding-bottom: 25px;
}

.cardHolder3 .card .items p {
  font-family: pnReg;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #9186be;
  padding-bottom: 25px;
}

.cardHolder3 .card .items span {
  background: #1f183e;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  color: #24e3ae;
  font-family: pnBold;
  font-weight: bold;
  font-size: 15px;
}

.homePage .wrapper {
  background-color: #1f183e;
  height: 135vh;
}

.homePage .wrapper .home-sidebar {
  background-color: #151029;
  height: 150vh;
  width: 15%;
  position: fixed;
}

.homePage .wrapper .home-sidebar img {
  height: 50px;
  position: absolute;
  top: 1rem;
  left: 2.5rem;
}

.homePage .wrapper .home-sidebar .navlist .selected {
  margin-top: 50px;
  background-color: #24e3ae;
}

.homePage .wrapper .home-sidebar .navlist .selected li {
  color: #2d2c2c;
}

.homePage .wrapper .home-sidebar .navlist ul {
  padding: 8px;
  margin-bottom: 10px;
  position: relative;
  top: 5rem;
  background-color: #151029;
  border: none;
}

.homePage .wrapper .home-sidebar .navlist ul a {
  text-decoration: none;
}

.homePage .wrapper .home-sidebar .navlist ul a li {
  color: white;
  font-size: 17px;
  font-family: pnBold;
  display: inline-block;
}

.homePage .wrapper .home-sidebar .navlist ul a li .icon1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.homePage .wrapper .home-sidebar .navlist ul:hover {
  background-color: #24e3ae;
}

.homePage .wrapper .home-sidebar .navlist ul:hover li {
  color: #2d2c2c;
}

.homePage .wrapper .mainpage .nav {
  background-color: #1d1739;
  width: 100%;
  height: 3rem;
}

.homePage .wrapper .mainpage .nav .login a {
  color: #24e3ae;
  position: absolute;
  text-decoration: none;
  font-family: pnBold;
  font-size: 20px;
  top: 0.7rem;
  right: 1.5rem;
}

.homePage .wrapper .mainbody {
  position: absolute;
  top: 8%;
  left: 18%;
}

.homePage .wrapper .mainbody .event {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.9);
  font-family: pnBold;
  padding-top: 30px;
  padding-bottom: 20px;
}

.homePage .wrapper .mainbody .welcomeText {
  color: white;
}

.homePage .wrapper .mainbody .welcomeText h2 {
  font-family: pnReg;
  font-size: 28px;
  font-weight: bold;
}

.homePage .wrapper .mainbody .welcomeText p {
  padding-top: 10px;
  font-family: pnReg;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}

.homePage .wrapper .mainbody .cardEvents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homePage .wrapper .mainbody .cardEvents .card1 {
  padding-right: 30px;
}

@media only screen and (max-width: 400px) {
  .homePage .openbtn {
    display: block;
  }
  .homePage .wrapper .home-sidebar {
    width: 0%;
  }
  .homePage .wrapper .home-sidebar img {
    display: none;
  }
  .homePage .wrapper .home-sidebar .navlist {
    display: none;
  }
  .homePage .wrapper .mainpage {
    background-color: #1f183e;
    height: 350vh;
  }
  .homePage .wrapper .mainpage .title a {
    font-family: pnBold;
    text-decoration: none;
    color: #24e3ae;
    font-size: 30px;
    position: absolute;
    top: 1rem;
    left: 1.5rem;
  }
  .homePage .wrapper .mainpage .login {
    display: none;
  }
  .homePage .wrapper .mainbody {
    left: 5%;
    width: 90%;
  }
  .homePage .wrapper .mainbody .welcomeText h2 {
    padding-top: 10px;
    font-size: 22px;
  }
  .homePage .wrapper .mainbody .welcomeText p {
    font-size: 16px;
  }
  .homePage .wrapper .mainbody .event {
    font-size: 22px;
  }
  .homePage .wrapper .mainbody .cardEvents {
    display: block;
    width: 100%;
  }
  .homePage .wrapper .mainbody .cardEvents .card1 {
    padding-bottom: 25px;
  }
  .homePage .wrapper .cardHolder1 .card,
  .homePage .wrapper .cardHolder2 .card,
  .homePage .wrapper .cardHolder3 .card {
    width: 343px;
  }
  .homePage .footer {
    width: 100%;
  }
  .homePage .footer p {
    text-align: center;
  }
}

.dashboardWrapper .wrapper {
  background: #1f183e;
  height: 100%;
}

.dashboardWrapper .wrapper img {
  max-width: 177px;
  height: 45px;
  position: relative;
  left: 3rem;
  top: 2rem;
}

.dashboardWrapper .wrapper .sidebar {
  background-color: #151029;
  height: 100vh;
  width: 15%;
}

.dashboardWrapper .wrapper .sidebar .navlist .selected {
  background-color: #24e3ae;
}

.dashboardWrapper .wrapper .sidebar .navlist .selected li {
  color: #2d2c2c;
}

.dashboardWrapper .wrapper .sidebar .navlist ul {
  padding: 8px;
  margin-bottom: 10px;
  position: relative;
  top: 5rem;
  background-color: #151029;
  border: none;
}

.dashboardWrapper .wrapper .sidebar .navlist ul a {
  text-decoration: none;
}

.dashboardWrapper .wrapper .sidebar .navlist ul a li {
  color: white;
  font-size: 17px;
  font-family: pnBold;
  display: inline-block;
}

.dashboardWrapper .wrapper .sidebar .navlist ul a li .icon1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.dashboardWrapper .wrapper .sidebar .navlist ul:hover {
  background-color: #24e3ae;
}

.dashboardWrapper .wrapper .sidebar .navlist ul:hover li {
  color: #2d2c2c;
}

.dashboardWrapper .wrapper .mainpage {
  width: 100%;
}

.dashboardWrapper .wrapper .mainpage .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 5%;
  background-color: #1d1739;
  border-bottom: 1px solid #524396;
}

.dashboardWrapper .wrapper .mainpage .nav .title a {
  padding-left: 20px;
  font-size: 26px;
  position: absolute;
  top: 0.3rem;
  left: 22rem;
  font-family: pnBold;
  text-decoration: none;
  color: #24e3ae;
  display: none;
}

.dashboardWrapper .wrapper .mainpage .nav .login a {
  position: absolute;
  right: 2rem;
  top: 0.6rem;
  text-decoration: none;
  font-family: pnBold;
  font-size: 16px;
  line-height: 19px;
  color: #24e3ae;
}

.dashboardWrapper .wrapper .mainbody {
  position: absolute;
  top: 8%;
  left: 18%;
}

.dashboardWrapper .wrapper .mainbody .heading h2 {
  font-family: pnBold;
  color: #24e3ae;
  font-size: 24px;
}

.dashboardWrapper .wrapper .mainbody .questionBox {
  position: absolute;
  top: 3rem;
  width: 723px;
  height: 189px;
  background: #2b2352;
  -webkit-box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.dashboardWrapper .wrapper .mainbody .questionBox .content {
  padding: 20px;
}

.dashboardWrapper .wrapper .mainbody .questionBox .content h4 {
  font-size: 18px;
  color: white;
  font-family: pnReg;
}

.dashboardWrapper .wrapper .mainbody .questionBox .content input {
  background: #151029;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3.66667px;
  width: 549px;
  height: 40px;
  color: white;
  font-family: pnBold;
  padding-left: 10px;
  margin-top: 20px;
}

.dashboardWrapper .wrapper .mainbody .questionBox .content input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-family: 14px;
  font-family: pnReg;
  padding-left: 20px;
}

.dashboardWrapper .wrapper .mainbody .questionBox .content input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-family: 14px;
  font-family: pnReg;
  padding-left: 20px;
}

.dashboardWrapper .wrapper .mainbody .questionBox .content input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-family: 14px;
  font-family: pnReg;
  padding-left: 20px;
}

.dashboardWrapper .wrapper .mainbody .questionBox .content input::placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-family: 14px;
  font-family: pnReg;
  padding-left: 20px;
}

.dashboardWrapper .wrapper .mainbody .questionBox .content button {
  border: none;
  width: 109px;
  height: 40px;
  color: #103d30;
  font-family: pnBold;
  font-size: 15px;
  margin-left: 15px;
  background: #24e3ae;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.dashboardWrapper .wrapper .mainbody .questionBox .content p {
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-family: pnReg;
  margin-top: 10px;
}

@media only screen and (max-width: 400px) {
  .dashboardWrapper .wrapper .openbtn {
    display: block;
  }
  .dashboardWrapper .wrapper .sidebar {
    width: 0%;
  }
  .dashboardWrapper .wrapper .sidebar img {
    position: absolute;
    top: 0.2rem;
    left: 1rem;
  }
  .dashboardWrapper .wrapper .sidebar .navlist {
    display: none;
  }
  .dashboardWrapper .wrapper .mainpage .login {
    display: none;
  }
  .dashboardWrapper .wrapper .mainbody {
    left: 5%;
  }
  .dashboardWrapper .wrapper .mainbody .heading h2 {
    margin-top: 10px;
  }
  .dashboardWrapper .wrapper .mainbody .questionBox {
    width: 343px;
    height: 235px;
  }
  .dashboardWrapper .wrapper .mainbody .questionBox .content input {
    width: 300px;
  }
  .dashboardWrapper .wrapper .mainbody .questionBox .content button {
    margin-top: 10px;
    margin-left: 0;
  }
  .dashboardWrapper .wrapper .footer {
    width: 100%;
  }
  .dashboardWrapper .wrapper .footer p {
    text-align: center;
  }
}

.Leaderboard .wrapper {
  background: #1f183e;
  height: 100%;
}

.Leaderboard .wrapper img {
  max-width: 177px;
  height: 45px;
  position: relative;
  left: 3rem;
  top: 2rem;
}

.Leaderboard .wrapper .sidebar {
  background-color: #151029;
  height: 100vh;
  width: 15%;
}

.Leaderboard .wrapper .sidebar .navlist .selected {
  background-color: #24e3ae;
}

.Leaderboard .wrapper .sidebar .navlist .selected li {
  color: #2d2c2c;
}

.Leaderboard .wrapper .sidebar .navlist ul {
  padding: 8px;
  margin-bottom: 10px;
  position: relative;
  top: 5rem;
  background-color: #151029;
  border: none;
}

.Leaderboard .wrapper .sidebar .navlist ul a {
  text-decoration: none;
}

.Leaderboard .wrapper .sidebar .navlist ul a li {
  color: white;
  font-size: 17px;
  font-family: pnBold;
  display: inline-block;
}

.Leaderboard .wrapper .sidebar .navlist ul a li .icon1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.Leaderboard .wrapper .sidebar .navlist ul:hover {
  background-color: #24e3ae;
}

.Leaderboard .wrapper .sidebar .navlist ul:hover li {
  color: #2d2c2c;
}

.Leaderboard .wrapper .mainpage {
  width: 100%;
}

.Leaderboard .wrapper .mainpage .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 5%;
  background-color: #1d1739;
  border-bottom: 1px solid #524396;
}

.Leaderboard .wrapper .mainpage .nav .title a {
  padding-left: 20px;
  font-size: 26px;
  position: absolute;
  top: 0.3rem;
  font-family: pnBold;
  text-decoration: none;
  color: #24e3ae;
  display: none;
}

.Leaderboard .wrapper .mainpage .nav .login a {
  position: absolute;
  right: 2rem;
  top: 0.6rem;
  text-decoration: none;
  font-family: pnBold;
  font-size: 16px;
  line-height: 19px;
  color: #24e3ae;
}

.Leaderboard .wrapper .mainbody {
  position: absolute;
  top: 8%;
  left: 18%;
}

.Leaderboard .wrapper .mainbody .heading h2 {
  font-family: pnBold;
  position: absolute;
  top: 0rem;
  color: #24e3ae;
  font-size: 24px;
}

.Leaderboard .wrapper .mainbody .leaderTable {
  background: #2b2352;
  -webkit-box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  width: 40vw;
  position: absolute;
  top: 3rem;
}

.Leaderboard .wrapper .mainbody .leaderTable .row1,
.Leaderboard .wrapper .mainbody .leaderTable .row2,
.Leaderboard .wrapper .mainbody .leaderTable .row3,
.Leaderboard .wrapper .mainbody .leaderTable .row4,
.Leaderboard .wrapper .mainbody .leaderTable .row5,
.Leaderboard .wrapper .mainbody .leaderTable .row6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-bottom: 10px;
  background-color: #2b2352;
}

.Leaderboard .wrapper .mainbody .leaderTable .row1 h2,
.Leaderboard .wrapper .mainbody .leaderTable .row2 h2,
.Leaderboard .wrapper .mainbody .leaderTable .row3 h2,
.Leaderboard .wrapper .mainbody .leaderTable .row4 h2,
.Leaderboard .wrapper .mainbody .leaderTable .row5 h2,
.Leaderboard .wrapper .mainbody .leaderTable .row6 h2 {
  font-family: pnReg;
  font-size: 18px;
  color: white;
  padding: 15px;
}

.Leaderboard .wrapper .mainbody .leaderTable .row1 .rank,
.Leaderboard .wrapper .mainbody .leaderTable .row2 .rank,
.Leaderboard .wrapper .mainbody .leaderTable .row3 .rank,
.Leaderboard .wrapper .mainbody .leaderTable .row4 .rank,
.Leaderboard .wrapper .mainbody .leaderTable .row5 .rank,
.Leaderboard .wrapper .mainbody .leaderTable .row6 .rank {
  width: 20px;
  margin-right: 30px;
}

.Leaderboard .wrapper .mainbody .leaderTable .row1 .name,
.Leaderboard .wrapper .mainbody .leaderTable .row2 .name,
.Leaderboard .wrapper .mainbody .leaderTable .row3 .name,
.Leaderboard .wrapper .mainbody .leaderTable .row4 .name,
.Leaderboard .wrapper .mainbody .leaderTable .row5 .name,
.Leaderboard .wrapper .mainbody .leaderTable .row6 .name {
  width: 200px;
  margin-right: 30px;
}

.Leaderboard .wrapper .mainbody .leaderTable .row1 .score,
.Leaderboard .wrapper .mainbody .leaderTable .row2 .score,
.Leaderboard .wrapper .mainbody .leaderTable .row3 .score,
.Leaderboard .wrapper .mainbody .leaderTable .row4 .score,
.Leaderboard .wrapper .mainbody .leaderTable .row5 .score,
.Leaderboard .wrapper .mainbody .leaderTable .row6 .score {
  width: 100px;
  margin-right: 30px;
}

.Leaderboard .wrapper .mainbody .leaderTable .row1 {
  background-color: #1f183e;
}

.Leaderboard .wrapper .mainbody .leaderTable .row1 h2 {
  font-size: 20px;
}

.Leaderboard .wrapper .mainbody .leaderTable .row2,
.Leaderboard .wrapper .mainbody .leaderTable .row3,
.Leaderboard .wrapper .mainbody .leaderTable .row4,
.Leaderboard .wrapper .mainbody .leaderTable .row5 {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 400px) {
  .Leaderboard .wrapper .openbtn {
    display: block;
  }
  .Leaderboard .wrapper .sidebar {
    width: 0%;
  }
  .Leaderboard .wrapper .sidebar img {
    position: absolute;
    top: 0.2rem;
    left: 1rem;
  }
  .Leaderboard .wrapper .sidebar .navlist {
    display: none;
  }
  .Leaderboard .wrapper .mainpage .login {
    display: none;
  }
  .Leaderboard .wrapper .mainbody {
    left: 5%;
  }
  .Leaderboard .wrapper .mainbody .heading h2 {
    margin-top: 10px;
  }
  .Leaderboard .wrapper .mainbody .leaderTable {
    width: 91vw;
  }
  .Leaderboard .wrapper .footer {
    width: 100%;
  }
  .Leaderboard .wrapper .footer p {
    text-align: center;
  }
}

.aboutEvent .wrapper {
  background: #1f183e;
  height: 100vh;
}

.aboutEvent .wrapper img {
  max-width: 177px;
  height: 45px;
  position: relative;
  left: 3rem;
  top: 2rem;
}

.aboutEvent .wrapper .sidebar {
  background-color: #151029;
  height: 100vh;
  width: 15%;
}

.aboutEvent .wrapper .sidebar .navlist .selected {
  background-color: #24e3ae;
}

.aboutEvent .wrapper .sidebar .navlist .selected li {
  color: #2d2c2c;
}

.aboutEvent .wrapper .sidebar .navlist ul {
  padding: 8px;
  margin-bottom: 10px;
  position: relative;
  top: 5rem;
  background-color: #151029;
  border: none;
}

.aboutEvent .wrapper .sidebar .navlist ul a {
  text-decoration: none;
}

.aboutEvent .wrapper .sidebar .navlist ul a li {
  color: white;
  font-size: 17px;
  font-family: pnBold;
  display: inline-block;
}

.aboutEvent .wrapper .sidebar .navlist ul a li .icon1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.aboutEvent .wrapper .sidebar .navlist ul:hover {
  background-color: #24e3ae;
}

.aboutEvent .wrapper .sidebar .navlist ul:hover li {
  color: #2d2c2c;
}

.aboutEvent .wrapper .mainpage {
  width: 100%;
}

.aboutEvent .wrapper .mainpage .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutEvent .wrapper .mainpage .nav .title a {
  padding-left: 20px;
  font-size: 26px;
  position: absolute;
  top: 0.3rem;
  font-family: pnBold;
  text-decoration: none;
  color: #24e3ae;
  display: none;
}

.aboutEvent .wrapper .mainpage .nav .login a {
  position: absolute;
  right: 2rem;
  top: 0.6rem;
  text-decoration: none;
  font-family: pnBold;
  font-size: 16px;
  line-height: 19px;
  color: #24e3ae;
}

.aboutEvent .wrapper .mainbody {
  position: absolute;
  top: 8%;
  left: 18%;
}

.aboutEvent .wrapper .mainbody .box1 {
  width: 70%;
  background: #2b2352;
  -webkit-box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-bottom: 20px;
}

.aboutEvent .wrapper .mainbody .box1 h2 {
  color: #24e3ae;
  font-family: pnBold;
  font-size: 22px;
  padding: 20px;
}

.aboutEvent .wrapper .mainbody .box1 p {
  font-family: pnBold;
  font-size: 16px;
  color: white;
  padding: 20px;
  padding-top: 0px;
}

.aboutEvent .wrapper .mainbody .box2 {
  width: 70%;
  background: #2b2352;
  -webkit-box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-bottom: 20px;
}

.aboutEvent .wrapper .mainbody .box2 .box2title {
  color: #24e3ae;
  font-family: pnBold;
  font-size: 22px;
  padding: 20px;
}

.aboutEvent .wrapper .mainbody .box2 .startEnd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutEvent .wrapper .mainbody .box2 .startEnd .start h2,
.aboutEvent .wrapper .mainbody .box2 .startEnd .end h2 {
  font-size: 16px;
  font-family: pnBold;
  color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  padding-top: 0px;
}

.aboutEvent .wrapper .mainbody .box2 .startEnd .start h2 span,
.aboutEvent .wrapper .mainbody .box2 .startEnd .end h2 span {
  font-family: pnBold;
  font-size: 20px;
  padding-top: 10px;
  color: white;
}

.aboutEvent .wrapper .mainbody .box3 {
  width: 70%;
  background: #2b2352;
  -webkit-box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.aboutEvent .wrapper .mainbody .box3 h2 {
  color: #24e3ae;
  font-family: pnBold;
  font-size: 22px;
  padding: 20px;
}

.aboutEvent .wrapper .mainbody .box3 ol {
  position: relative;
  left: 2rem;
  width: 95%;
}

.aboutEvent .wrapper .mainbody .box3 ol li {
  color: white;
  padding: 20px;
  padding-top: 0px;
  font-family: pnbold;
  font-size: 18px;
}

.aboutEvent .wrapper .mainbody .box3 button {
  text-decoration: none;
  outline: none;
  border: none;
  width: 100px;
  background-color: #24e3ae;
  font-size: 18px;
  font-family: pnBold;
  padding: 10px;
  margin: 10px;
  position: relative;
  left: 1rem;
  border-radius: 7px;
}

.aboutEvent .wrapper .mainbody .box3 button:hover {
  border: 2px solid #24e3ae;
  background-color: transparent;
  color: #24e3ae;
}

@media only screen and (max-width: 400px) {
  .aboutEvent .wrapper .openbtn {
    display: block;
  }
  .aboutEvent .wrapper .sidebar {
    width: 0%;
    height: 145vh;
  }
  .aboutEvent .wrapper .sidebar img {
    position: absolute;
    top: 0.2rem;
    left: 1rem;
  }
  .aboutEvent .wrapper .sidebar .navlist {
    display: none;
  }
  .aboutEvent .wrapper .mainbody {
    left: 0%;
    height: 145vh;
    background-color: #1f183e;
  }
  .aboutEvent .wrapper .mainbody .box1,
  .aboutEvent .wrapper .mainbody .box2,
  .aboutEvent .wrapper .mainbody .box3 {
    width: 90%;
    margin-left: 20px;
  }
  .aboutEvent .wrapper .mainpage .login {
    display: none;
  }
  .aboutEvent .wrapper .footer {
    width: 100%;
  }
  .aboutEvent .wrapper .footer p {
    text-align: center;
  }
}

.editprofile .wrapper {
  background: #1f183e;
  height: 100%;
}

.editprofile .wrapper img {
  max-width: 177px;
  height: 45px;
  position: relative;
  left: 3rem;
  top: 2rem;
}

.editprofile .wrapper .sidebar {
  background-color: #151029;
  height: 100vh;
  width: 15%;
}

.editprofile .wrapper .sidebar .navlist .selected {
  background-color: #24e3ae;
}

.editprofile .wrapper .sidebar .navlist .selected li {
  color: #2d2c2c;
}

.editprofile .wrapper .sidebar .navlist ul {
  padding: 8px;
  margin-bottom: 10px;
  position: relative;
  top: 5rem;
  background-color: #151029;
  border: none;
}

.editprofile .wrapper .sidebar .navlist ul a {
  text-decoration: none;
}

.editprofile .wrapper .sidebar .navlist ul a li {
  color: white;
  font-size: 17px;
  font-family: pnBold;
  display: inline-block;
}

.editprofile .wrapper .sidebar .navlist ul a li .icon1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.editprofile .wrapper .sidebar .navlist ul:hover {
  background-color: #24e3ae;
}

.editprofile .wrapper .sidebar .navlist ul:hover li {
  color: #2d2c2c;
}

.editprofile .wrapper .mainpage {
  width: 100%;
}

.editprofile .wrapper .mainpage .nav .title a {
  padding-left: 20px;
  font-size: 26px;
  position: absolute;
  top: 0.3rem;
  font-family: pnBold;
  text-decoration: none;
  color: #24e3ae;
  display: none;
}

.editprofile .wrapper .mainpage .nav .login a {
  position: absolute;
  right: 2rem;
  top: 0.6rem;
  text-decoration: none;
  font-family: pnBold;
  font-size: 16px;
  line-height: 19px;
  color: #24e3ae;
}

.editprofile .wrapper .mainbody {
  position: absolute;
  top: 8%;
  left: 18%;
}

.editprofile .wrapper .mainbody .edit .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.editprofile .wrapper .mainbody .edit .card .smallcard .topbox {
  background: url(./images/background.jpg);
  border-radius: 4px 4px 0px 0px;
  width: 343px;
  height: 120px;
  margin-left: 20px;
}

.editprofile .wrapper .mainbody .edit .card .smallcard .circleimg {
  width: 90px;
  height: 90px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 5rem;
  left: 9.2rem;
  background: url(./images/Ellipse3.png);
}

.editprofile .wrapper .mainbody .edit .card .smallcard .bottombox {
  width: 343px;
  height: 200px;
  margin-left: 20px;
  background: #2b2352;
  -webkit-box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.editprofile .wrapper .mainbody .edit .card .smallcard .bottombox h2,
.editprofile .wrapper .mainbody .edit .card .smallcard .bottombox h3 {
  font-size: 20px;
  font-family: pnBold;
  color: white;
  text-align: center;
  position: relative;
  top: 4em;
}

.editprofile .wrapper .mainbody .edit .card .maincard {
  width: 666px;
  height: 320px;
  margin-left: 20px;
  background: #2b2352;
  -webkit-box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.editprofile .wrapper .mainbody .edit .card .maincard button {
  font-family: pnBold;
  font-size: 15px;
  width: 157px;
  height: 40px;
  text-decoration: none;
  border: none;
  background: #24e3ae;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  position: absolute;
  right: 2rem;
  bottom: 1.5rem;
  cursor: pointer;
}

.editprofile .wrapper .mainbody .edit .card .maincard h2 {
  font-family: pnBold;
  font-size: 20px;
  color: #24e3ae;
  padding: 20px;
  padding-bottom: 0px;
}

.editprofile .wrapper .mainbody .edit .card .maincard .sets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.editprofile .wrapper .mainbody .edit .card .maincard .sets .set1 .change {
  padding: 20px;
}

.editprofile .wrapper .mainbody .edit .card .maincard .sets .set1 .change p {
  font-family: pnBold;
  font-size: 15px;
  color: #ffffff;
}

.editprofile .wrapper .mainbody .edit .card .maincard .sets .set1 .change input {
  width: 296px;
  height: 37px;
  padding-left: 10px;
  background: #151029;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3.66667px;
  font-family: pnBold;
  color: white;
}

.editprofile .wrapper .mainbody .edit .card .maincard .sets .set1 .change input::-webkit-input-placeholder {
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.4);
  font-family: pnBold;
}

.editprofile .wrapper .mainbody .edit .card .maincard .sets .set1 .change input:-ms-input-placeholder {
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.4);
  font-family: pnBold;
}

.editprofile .wrapper .mainbody .edit .card .maincard .sets .set1 .change input::-ms-input-placeholder {
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.4);
  font-family: pnBold;
}

.editprofile .wrapper .mainbody .edit .card .maincard .sets .set1 .change input::placeholder {
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.4);
  font-family: pnBold;
}

.editprofile .wrapper .mainbody .edit .card .maincard .sets .set2 .change {
  padding: 20px;
}

.editprofile .wrapper .mainbody .edit .card .maincard .sets .set2 .change p {
  font-family: pnBold;
  font-size: 15px;
  color: #ffffff;
}

.editprofile .wrapper .mainbody .edit .card .maincard .sets .set2 .change input {
  width: 296px;
  height: 37px;
  font-family: pnBold;
  color: white;
  background: #151029;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3.66667px;
  padding-left: 10px;
}

.editprofile .wrapper .mainbody .edit .card .maincard .sets .set2 .change input::-webkit-input-placeholder {
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.4);
  font-family: pnBold;
}

.editprofile .wrapper .mainbody .edit .card .maincard .sets .set2 .change input:-ms-input-placeholder {
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.4);
  font-family: pnBold;
}

.editprofile .wrapper .mainbody .edit .card .maincard .sets .set2 .change input::-ms-input-placeholder {
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.4);
  font-family: pnBold;
}

.editprofile .wrapper .mainbody .edit .card .maincard .sets .set2 .change input::placeholder {
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.4);
  font-family: pnBold;
}

@media only screen and (max-width: 400px) {
  .editprofile .wrapper .openbtn {
    display: block;
  }
  .editprofile .wrapper .sidebar {
    width: 0%;
  }
  .editprofile .wrapper .sidebar img {
    position: absolute;
    top: 0.2rem;
    left: 1rem;
  }
  .editprofile .wrapper .sidebar .navlist {
    display: none;
  }
  .editprofile .wrapper .mainpage {
    height: 40vh;
  }
  .editprofile .wrapper .mainpage .login {
    display: none;
  }
  .editprofile .wrapper .mainbody {
    left: 4%;
  }
  .editprofile .wrapper .mainbody .edit .card {
    display: block;
  }
  .editprofile .wrapper .mainbody .edit .card .smallcard {
    padding-bottom: 20px;
  }
  .editprofile .wrapper .mainbody .edit .card .maincard {
    width: 340px;
    height: 500px;
  }
  .editprofile .wrapper .mainbody .edit .card .maincard .sets {
    display: block;
  }
  .editprofile .wrapper .footer {
    width: 100%;
  }
  .editprofile .wrapper .footer p {
    text-align: center;
  }
}

.collapse-sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #151029;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

.collapse-sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  font-family: pnBold;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.collapse-sidebar .selected {
  background-color: #24e3ae;
}

.collapse-sidebar button {
  margin-top: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: pnBold;
  font-size: 18px;
  background-color: #24e3ae;
  border-radius: 4px;
  border: none;
}

.collapse-sidebar a:hover {
  color: #f1f1f1;
}

.collapse-sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #1f183e;
  color: #24e3ae;
  padding: 10px 15px;
  border: none;
  position: absolute;
  right: 1.5rem;
  top: 0.5rem;
  display: none;
}

.openbtn:hover {
  background-color: #444;
}

#collapse-main {
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .collapse-sidebar {
    padding-top: 15px;
  }
  .collapse-sidebar a {
    font-size: 18px;
  }
}

#loader {
  border: 5px solid #130e25;
  border-radius: 50%;
  border-top: 5px solid #24e3ae;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  position: relative;
  top: 2rem;
  left: 8rem;
  display: none;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=App.css.map */